<p>You have both confirmed that you would like to formally switch sections {{a.current.name|upper}} and {{b.current.name|upper}} for {{c.title}}. Please arrange a time that you can both meet with a Biology advisor in 318 Hitchcock Hall so they can help you finalize this change to your schedule. The advisors' hours are M-F 9 am - 12 pm and 1 - 3:30 pm.</p> 

<p>You and your partners contact information is below:</p>
<ul>
	<li>{{a.student.fName}} {{a.student.lName}} - {{a.student.email}} - {{a.current.name}}</li>
	<li>{{b.student.fName}} {{b.student.lName}} - {{b.student.email}} - {{b.current.name}}</li>
</ul>