<p>The previous section switch between {{a.current.name}} and {{b.current.name}} for {{name}} was declined by one student.</p>

<p>You can sign in and see if any other matches have opened up <a href="{{ url('request_switch') }}">here</a>. Or wait until another student attempts to match with you. If the link does not work copy and paste this url into your web browser.</p> 

<blockquote><i><a>{{ url('request_switch') }}</a></i></blockquote>