{% extends 'BioSwitchBundle:Default:main.html.twig' %}

{% block content %}
	<p>Select a section you would like to switch into. If your request is approved, you will both be given each others contact information. Continue checking this page as more sections might open up. You may also be notified via your email ({{request.student.email}}) if another student requests you. If you would like to cancel your request click <a href="?cancel">here</a>.</p>
	{{ form_start(form) }}
		<div id="form" class="tableStyle">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Section</th>
						<th>Day</th>
						<th>Start</th>
						<th>End</th>
					</tr>
				</thead>
				<tbody>
					{% for choice in form.children['match'].vars.choices %}
					<tr>
						<td><input type="radio" name="form[match]" value={{choice.value}} ></td>
						<td>{{choice.data.current.name|upper}}</td>
						<td>{{choice.data.current.day|capitalize}}</td>
						<td>{{choice.data.current.start|date('h:i a')}}</td>
						<td>{{choice.data.current.end|date('h:i a')}}</td>
					</tr>
					{% else %}
						<tr>
							<td colspan=5 style="text-align:center;">No matches found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% do form_row(form.match) %}
			{{form_row(form.submit)}}
		</div>
	{{ form_end(form) }}
	{{parent()}}
{% endblock %}