{% extends 'BioPublicBundle:Default:instruction.html.twig' %}

{% block content %}
	<p> Welcome to the Course Information section. From here you can edit all the information shown on the front page and more. This tool allows you to edit <a href="{{ path('edit_info') }}">course information</a>; add <a href="{{ path('view', {'entityName' : 'announcement' }) }}">announcements</a> for students to read; add <a href="{{ path('view', {'entityName' : 'link' }) }}">links</a> to the main page or the sidebar; post contact <a href="{{ path('view', {'entityName' : 'person' }) }}">information</a> and <a href="{{ path('view', {'entityName' : 'hours' }) }}">office hours</a> for instructors, TAs, and coordinators; and post <a href="{{ path('view', {'entityName' : 'announcements' }) }}">section</a> location and times. This page will give some basic instructions on how you can edit the site to fit your needs. </p>

	<div>
		{% image 'bundles/bioinfo/images/courseinfo.png' output='images/*.png' %}
		    <img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ path('edit_info') }}">Edit Info</a></h2>
		<p> From the Edit Info page, it's possible to edit all the basic information about the course. Anything you edit here will be automatically shown on the main page of the course website. To select multiple days, make sure to hold down the ctrl (windows) or command (mac).</p>
	</div>

	<div>
		{% image 'bundles/bioinfo/images/announcements.png' output='images/*.png' %}
		    <img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ path('view', {'entityName' : 'announcement' }) }}">Announcements</a></h2>
		<p> From the announcements page you can create announcements that will show on the front page. Each announcement has a start time and an end time. If the current date falls between the start and ending times then the post is shown. It will only appear green to, and only from the admin page.</p>

		<p>If an announcement is expired it will not be shown publicly and will be colored red on the admin page where you can edit it or delete it at will.</p>

		<p>An announcement with a starting time in the future will not be shown either, and will appear yellow from the admin page until the starting time has passed. This allows you to make announcements that will automatically appear at a certain date and time in the future.</p>

		<p> The text of the announcement can be anything you want, and can include HTML tags. For example, <br /><i>&lt;a href=&quot;http://www.google.com&quot;&gt;This is a link&lt;/a&gt;</i>will appear as <a href="http://www.google.com">This is a link</a>.</p>
	</div>

	<div>
		{% image 'bundles/bioinfo/images/links.png' output='images/*.png' %}
		    <img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ path('view', {'entityName' : 'link' }) }}">Links</a></h2>
		<p> All links you add will be shown on the main page. You can choose to put a link on the sidebar, where it will be shown from any public page of the site. Or directly on the main page. Where it will be shown directly under the announcements.</p>

		<p> Make sure all external links start with <i>http://</i> or the link will most likely not work.</p>
	</div>

	<div>
		{% image 'bundles/bioinfo/images/instructor.png' output='images/*.png' %}
		    <img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ path('view', {'entityName' : 'person' }) }}">Instructors</a></h2>
		<p> This page allows you to add, edit, and remove instructors, coordinators, and TAs from the main page. Here, every instructor can be assigned an email, building, room, and title that will be shown publicly on the course site. Office hours, if applicable, are assigned from the Hours page.</p>
	</div>

	<div>
		{% image 'bundles/bioinfo/images/hours.png' output='images/*.png' %}
		    <img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ path('view', {'entityName' : 'hours' }) }}">Hours</a></h2>
		<p> After an instructor, coordinator, or TA has been added. You can assign them office hours here. From this page it is possible to assign combinations of days and times that will be displayed on the front page.</p>

		<p> You can also choose to check the box <i>By Appointment</i>, but make sure to fill in the other fields anyways or it will not submit </p>
	</div>

	<div>
		{% image 'bundles/bioinfo/images/sections.png' output='images/*.png' %}
		    <img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ path('view', {'entityName' : 'section' }) }}">Sections</a></h2>
		<p> Here you can add information about Sections that will display underneath the instructors, coordinator, and TAs. Each section must be specified a name, day, start and end time, building, and room.</p>
	</div>
{% endblock %}