{% extends 'BioInfoBundle:Default:base.html.twig' %}

{% block content %}
	{{ form(form) }}

	<table border="1px">
		<tr>
			<th>Status</th>
			<th>Text</th>
			<th>Timestamp</th>
			<th>Expiration</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for ann in anns %}
		{% if date() > date(ann.expiration) %}
			<tr class="expired">
				<td>Expired</td>
		{% elseif date() < date(ann.timestamp) %}
			<tr class="hidden">
				<td>Hidden</td>
		{% else %}
			<tr class="showing">
				<td>Showing</td>
		{% endif %}
				<td>{{ann.text}}</td>
				<td>{{ann.timestamp|date('m/d/Y h:i:s')}}</td>
				<td>{{ann.expiration|date('m/d/Y h:i:s')}}</td>
				<td><a href="">edit</a></td>
				<td><a href="{{ path('delete_announcement') }}?id={{ ann.id }}">delete</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}