{% extends 'BioPublicBundle:Content:instruction.html.twig' %}

{% block content %}
	<p>Welcome to the Clicker section. This section has a public page for students to register clickers, and secured pages for you to download properly formatted .csv files and clear all registrations at the end of the quarter.</p>
	<div>
		{% image 'bundles/bioclicker/images/register.png' output='images/*.png' %}
			<img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ path('register_clicker') }}">Register</a></h2>
		<p> The link to this page can be accessed by any student registered in your course. But by default this link cannot be found anywhere on the site. You can distribute the link yourself with the url <input onClick="this.select();" value="{{ url('register_clicker') }}" />.<br /> Only one student can be registered to a clicker at a time, but students can change the clicker they are registered to at any time.</p>
	</div>

	<div>
		{% image 'bundles/bioclicker/images/download.png' output='images/*.png' %}
			<img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ path('download_list') }}">Download</a></h2>
		<p>This link will download a properly formatted .xls file containing all students registered and their clicker IDs for use with Turning Point software.</p>
	</div>

	<div>
		{% image 'bundles/bioclicker/images/clear.png' output='images/*.png' %}
			<img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ path('clear_list') }}">Clear</a></h2>
		<p>A quick way to delete all registrations at the end of a quarter. This action <b>cannot</b> be undone.</p>
	</div>
{% endblock %}