{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biopublic/css/public.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<div class="column">
		<div class="row">
			<h2>Class Info</h2>
			<ul>
				<li>{{info.courseNumber}} - {{info.title}}</li>
				<li>{{info.qtr|capitalize}} {{info.year}}</li>
				<li>{{info.days|join(', ')|title}} {{info.startTime|date('h:i')}} - {{info.endTime|date('h:i')}}</li>
				<li><a href="http://www.washington.edu/maps/?{{info.bldg|split("	")[0]}}">{{info.bldg}}</a> - {{info.room}}</li>
				<li><a href="mailto:{{info.email}}">{{info.email}}</a></li>
			</ul>
		</div>
		{% if anns|length > 0 %}
			<div class="row">
				<h2>Announcements</h2>
				{% for ann in anns %}
					<ul>
						<li>{{ann.timestamp|date('m/d/y h:i')}}</li>
						<ul>
							<li>{{ann.text|raw}}</li>
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}
		{% if links|length > 0 %}
			<div class="row">
				<h2>Links</h2>
				<ul>
					<ul>
						{% for link in links %}
							<li><a href="{{link.address}}">{{link.title}}</a></li>
						{% endfor %}
					</ul>
				</ul>
			</div>
		{% endif %}
	</div>
	<div class="column">
		<div class="row">
			<h2>Instructors</h2>
			{% for inst in instructors %}
				<ul>
					<li>{{inst.fullName}}</li>
					<ul>
						<li><a href="http://www.washington.edu/maps/?{{inst.bldg|split("	")[0]}}">{{inst.bldg}}</a> - {{inst.room}}</li>
						<li><a href="mailto:{{inst.email}}">{{inst.email}}</a></li>
						{% if inst.hours|length > 0 %}
							<li>Hours</li>
							<ul>
								{% for hour in inst.hours %}
									{% if not hour.byAppointment %}
										<li>{{hour.days|title}} {{hour.start|date('h:i')}} - {{hour.end|date('h:i')}}</li>
									{% else %}
										<li>By Appointment</li>
									{% endif %}
								{% endfor %}
							</ul>
						{% endif %}
					</ul>
				</ul>
			{% endfor %}
		</div>

		{% if tas|length > 0 %}
			<div class="row">
				<h2>TAs</h2>
				{% for inst in tas %}
					<ul>
						<li>{{inst.fullName}}</li>
						<ul>
							<li><a href="http://www.washington.edu/maps/?{{inst.bldg|split("	")[0]}}">{{inst.bldg}}</a> - {{inst.room}}</li>
							<li><a href="mailto:{{inst.email}}">{{inst.email}}</a></li>
							{% if inst.hours|length > 0 %}
								<li>Hours</li>
								<ul>
									{% for hour in inst.hours %}
										{% if not hour.byAppointment %}
											<li>{{hour.days|title}} {{hour.start|date('h:i')}} - {{hour.end|date('h:i')}}</li>
										{% else %}
											<li>By Appointment</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

		{% if coordinators|length > 0 %}
			<div class="row">
				<h2>Coordinators</h2>
				{% for inst in coordinators %}
					<ul>
						<li>{{inst.fullName}}</li>
						<ul>
							<li><a href="http://www.washington.edu/maps/?{{inst.bldg|split("	")[0]}}">{{inst.bldg}}</a> - {{inst.room}}</li>
							<li><a href="mailto:{{inst.email}}">{{inst.email}}</a></li>
							{% if inst.hours|length > 0 %}
								<li>Hours</li>
								<ul>
									{% for hour in inst.hours %}
										{% if not hour.byAppointment %}
											<li>{{hour.days|title}} {{hour.start|date('h:i')}} - {{hour.end|date('h:i')}}</li>
										{% else %}
											<li>By Appointment</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

		{% if sections|length > 0 %}
			<div class="row">
				<h2>Sections</h2>
				{% for section in sections %}
					<ul>
						<li>Section {{section.name|upper}}</li>
						<ul>
							<li>{{section.day|title}} {{section.start|date('h:i')}} - {{section.end|date('h:i')}}</li>
							<li><a href="http://www.washington.edu/maps/?{{section.bldg|split("	")[0]}}">{{section.bldg}}</a> - {{section.room}}</li>
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

	</div>
{% endblock %}