{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biopublic/css/public.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<div class="masonry">

		<div class="row">
			<h2>Class Info</h2>
			<ul>
				<li>{{info.courseNumber}} - {{info.title}}</li>
				<li>{{info.qtr|capitalize}} {{info.year}}</li>
				<li><a href="mailto:{{info.email}}">{{info.email}}</a></li>
			</ul>
		</div>

		{% if cSections|length > 0 %}
			<div class="row">
				<h2>Course Sections</h2>
				{% for section in cSections %}
					<ul>
						<li>Section {{section.name|upper}}</li>
						<ul>
							<li>{{section.days|join(', ')|title}} {{section.startTime|date('h:i')}} - {{section.endTime|date('h:i')}}</li>
							<li><a href="http://www.washington.edu/maps/?{{section.bldg|split("	")[0]}}">{{section.bldg}}</a> - {{section.room}}</li>
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

		{% if anns|length > 0 %}
			<div class="row">
				<h2>Announcements</h2>
				{% for ann in anns %}
					<ul>
						<li>{{ann.timestamp|date('m/d/y h:i')}}</li>
						<ul>
							<li>{{ann.text|raw}}</li>
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

		{% if main.folders|length > 0 %}
			<div class="row">
				<h2>Additional Folders</h2>
				<ul>
					<ul>
						{% for folder in main.folders %}
							<li><a href="{{ path('public_folder', {'id' : folder.id}) }}">{{folder.name}}</a></li>
						{% endfor %}
					</ul>
				</ul>
			</div>
		{% endif %}

		 {% if main.files|length > 0 %}
			<div class="row">
				<h2>Additional Files</h2>
				<ul>
					<ul>
						{% for file in main.files %}
							<li><a href="{{ path('download', {'filename' : file.path}) }}">{{file.name}}</a></li>
						{% endfor %}
					</ul>
				</ul>
			</div>
		{% endif %}

		{% if main.links|length > 0 %}
			<div class="row">
				<h2>Additional Links</h2>
				<ul>
					<ul>
						{% for link in main.links %}
							<li><a href="{{link.address}}">{{link.name}}</a></li>
						{% endfor %}
					</ul>
				</ul>
			</div>
		{% endif %}

		{% if instructors|length > 0 %}
			<div class="row">
				<h2>Instructors</h2>
				{% for inst in instructors %}
					<ul>
						<li>{{inst.fullName}}</li>
						<ul>
							{% if inst.bldg != null %}
								<li><a href="http://www.washington.edu/maps/?{{inst.bldg|split("	")[0]}}">{{inst.bldg}}</a> {% if inst.room != null %} - {{inst.room}}{% endif %}</li>
							{% endif %}
							<li><a href="mailto:{{inst.email}}">{{inst.email}}</a></li>
							{% if inst.hours|length > 0 %}
								<li>Hours</li>
								<ul>
									{% for hour in inst.hours %}
										{% if not hour.byAppointment %}
											<li>{{hour.days|title}} {{hour.start|date('h:i')}} - {{hour.end|date('h:i')}}</li>
										{% else %}
											<li>By Appointment</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

		{% if tas|length > 0 %}
			<div class="row">
				<h2>TAs</h2>
				{% for inst in tas %}
					<ul>
						<li>{{inst.fullName}}</li>
						<ul>
							<li><a href="http://www.washington.edu/maps/?{{inst.bldg|split("	")[0]}}">{{inst.bldg}}</a> - {{inst.room}}</li>
							<li><a href="mailto:{{inst.email}}">{{inst.email}}</a></li>
							{% if inst.hours|length > 0 %}
								<li>Hours</li>
								<ul>
									{% for hour in inst.hours %}
										{% if not hour.byAppointment %}
											<li>{{hour.days|title}} {{hour.start|date('h:i')}} - {{hour.end|date('h:i')}}</li>
										{% else %}
											<li>By Appointment</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

		{% if coordinators|length > 0 %}
			<div class="row">
				<h2>Coordinators</h2>
				{% for inst in coordinators %}
					<ul>
						<li>{{inst.fullName}}</li>
						<ul>
							<li><a href="http://www.washington.edu/maps/?{{inst.bldg|split("	")[0]}}">{{inst.bldg}}</a> - {{inst.room}}</li>
							<li><a href="mailto:{{inst.email}}">{{inst.email}}</a></li>
							{% if inst.hours|length > 0 %}
								<li>Hours</li>
								<ul>
									{% for hour in inst.hours %}
										{% if not hour.byAppointment %}
											<li>{{hour.days|title}} {{hour.start|date('h:i')}} - {{hour.end|date('h:i')}}</li>
										{% else %}
											<li>By Appointment</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

		{% if lSections|length > 0 %}
			<div class="row">
				<h2>Lab Sections</h2>
				{% for section in lSections %}
					<ul>
						<li>Section {{section.name|upper}}</li>
						<ul>
							<li>{{section.days|join(', ')|title}} : {{section.start|date('h:i')}} - {{section.end|date('h:i')}}</li>
							<li><a href="http://www.washington.edu/maps/?{{section.bldg|split("	")[0]}}">{{section.bldg}}</a> - {{section.room}}</li>
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

	</div>
{% endblock %}