{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biopublic/css/public.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	{% javascripts 'bundles/biopublic/js/DragDrop.js' output="js/*.js" %}
		<script src="{{asset_url}}"></script>
	{% endjavascripts %}
{% endblock %}

{% macro show(child) %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="checker">
			{{form_widget(child)}}
			<label>show - </label>
		</div>
	{% endif %}
{% endmacro %}

{% macro personRow(people) %}
{% for person in people %}
	<ul>
		<li>{{person.fullName}}</li>
		<ul>
			{% if person.bldg != null %}
				<li><a href="http://www.washington.edu/maps/?{{person.bldg|split("	")[0]}}">{{person.bldg}}</a> {% if person.room != null %} - {{person.room}}{% endif %}</li>
			{% endif %}
			<li><a href="mailto:{{person.email}}">{{person.email}}</a></li>
			{% if person.hours|length > 0 %}
				<li>Hours</li>
				<ul>
					{% for hour in person.hours %}
						{% if not hour.byAppointment %}
							<li>{{hour.days|title}} {{hour.start|date('h:i')}} - {{hour.end|date('h:i')}}</li>
						{% else %}
							<li>By Appointment</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		</ul>
	</ul>
{% endfor %}
{% endmacro %}

{% import _self as row %}

{% block content %}
	{% if is_granted('ROLE_ADMIN') %}
		{{ form_start(form) }}
	{% endif %}

	{% if is_granted('ROLE_ADMIN') or form.description.vars['data'] != '' %}
		<div id="description">
			{% if is_granted('ROLE_ADMIN') %}
				{{ form_widget(form.description) }}
			{% else %}
				{{ form.description.vars['data']|raw}}
			{% endif %}
		</div>
	{% endif %}

	<div class="masonry">

		{% if form.showing.children[0].vars['data'] or is_granted('ROLE_ADMIN') %}
			<div class="row">
				{{row.show(form.showing.children[0])}}
				<h2>Class Info</h2>
				<ul>
					<li>{{info.courseNumber}} - {{info.title}}</li>
					<li>{{info.qtr|capitalize}} {{info.year}}</li>
					<li><a href="mailto:{{info.email}}">{{info.email}}</a></li>
				</ul>
			</div>
		{% endif %}

		{% if (cSections|length > 0 and form.showing.children[1].vars['data']) or is_granted('ROLE_ADMIN') %}
			<div class="row">
				{{row.show(form.showing.children[1])}}
				<h2>Course Sections</h2>
				{% for section in cSections %}
					<ul>
						<li>Section {{section.name|upper}}</li>
						<ul>
							<li>{{section.days|join(', ')|title}} {{section.startTime|date('h:i')}} - {{section.endTime|date('h:i a')}}</li>
							<li><a href="http://www.washington.edu/maps/?{{section.bldg|split("	")[0]}}">{{section.bldg}}</a> - {{section.room}}</li>
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

		{% if (anns|length > 0 and form.showing.children[2].vars['data']) or is_granted('ROLE_ADMIN') %}
			<div class="row">
				{{row.show(form.showing.children[2])}}
				<h2>Announcements</h2>
				{% for ann in anns %}
					<ul>
						<li>{{ann.timestamp|date('m/d/y h:i a')}}</li>
						<ul>
							<li>{{ann.text|raw}}</li>
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

		{% if (folders|length > 0 and form.showing.children[3].vars['data']) or is_granted('ROLE_ADMIN') %}
			<div class="row">
				{{row.show(form.showing.children[3])}}
				<h2>Additional Folders</h2>
				<ul>
					<ul>
						{% for folder in folders if not folder.private %}
							<li><a href="{{ path('public_folder', {'id' : folder.id}) }}">{{folder.name}}</a></li>
						{% endfor %}
					</ul>
				</ul>
			</div>
		{% endif %}

		 {% if (files|length > 0 and form.showing.children[4].vars['data']) or is_granted('ROLE_ADMIN')  %}
			<div class="row">
				{{row.show(form.showing.children[4])}}
				<h2>Additional Files</h2>
				<ul>
					<ul>
						{% for file in files %}
							<li><a href="{{ path('download', {'id' : file.id}) }}">{{file.name}}</a></li>
						{% endfor %}
					</ul>
				</ul>
			</div>
		{% endif %}

		{% if (links|length > 0 and form.showing.children[5].vars['data']) or is_granted('ROLE_ADMIN') %}
			<div class="row">
				{{row.show(form.showing.children[5])}}
				<h2>Additional Links</h2>
				<ul>
					<ul>
						{% for link in links %}
							<li><a href="{{link.address}}">{{link.name}}</a></li>
						{% endfor %}
					</ul>
				</ul>
			</div>
		{% endif %}

		{% if (instructors|length > 0 and form.showing.children[6].vars['data']) or is_granted('ROLE_ADMIN') %}
			<div class="row">
				{{row.show(form.showing.children[6])}}
				<h2>Instructors</h2>
				{{row.personRow(instructors)}}
			</div>
		{% endif %}

		{% if (tas|length > 0 and form.showing.children[7].vars['data']) or is_granted('ROLE_ADMIN') %}
			<div class="row">
				{{row.show(form.showing.children[7])}}
				<h2>TAs</h2>
				{{row.personRow(tas)}}
			</div>
		{% endif %}

		{% if (coordinators|length > 0 and form.showing.children[8].vars['data']) or is_granted('ROLE_ADMIN') %}
			<div class="row">
				{{row.show(form.showing.children[8])}}
				<h2>Coordinators</h2>
				{{row.personRow(coordinators)}}
			</div>
		{% endif %}

		{% if (lSections|length > 0 and form.showing.children[9].vars['data']) or is_granted('ROLE_ADMIN') %}
			<div class="row">
				{{row.show(form.showing.children[9])}}
				<h2>Lab Sections</h2>
				{% for section in lSections %}
					<ul>
						<li>Section {{section.name|upper}}</li>
						<ul>
							<li>{{section.days|join(', ')|title}} : {{section.start|date('h:i')}} - {{section.end|date('h:i a')}}</li>
							<li><a href="http://www.washington.edu/maps/?{{section.bldg|split("	")[0]}}">{{section.bldg}}</a> - {{section.room}}</li>
						</ul>
					</ul>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	{% if is_granted('ROLE_ADMIN') %}
		<div style="text-align:center;">
			{{ form_widget(form.save) }}
		</div>
		{% do form_rest(form) %}
		{{ form_end(form) }}
	{% endif %}
{% endblock %}

{% block java %}
	{{ tinymce_init() }}
{% endblock %}