{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block content %}
	<form action="{{ path('login_check') }}" method="POST">
		<div id="form">
			<div>
				<label for="form_username" class="required">Username:</label>
				<input type="text" id="form_username" name="_username" value="{{last_username}}" required="required">
			</div>
			<div>
				<label for="form_password" class="required">Password:</label>
				<input type="password" id="form_password" name="_password" required="required">
			</div>
			<div>
				<label style="height:1px"></label>
				<a href="{{ path('register') }}">register</a>&emsp;<a href="{{ render(controller('BioPublicBundle:Default:email')) }}?subject=I forgot my password :(">forgot password</a>
			</div>
			<div>
				<button type="submit" id="form_login" name="form[login]">Login</button>
			</div>
			<input type="hidden" name="_target_path" value="{{ url('main_admin_page') }}" />
		</div>
	</form>
{% endblock %}