{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
		{% stylesheets 'bundles/biostudent/css/form.css' filter="cssrewrite" output="css/*.css" %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
{% endblock %}

{% block content %}
	{{ form_start(form) }}
		<div id="thingscroller" style="float:right;width:400px;overflow-y: scroll;height: 300px;">
			<table border="1px" style="width:100%;margin:0px">
				<tr>
					<th>Check</th>
					<th>Question</th>
				</tr>
				{% for child in form.questions.children %}
					<tr tags="{{ child.parent.vars.choices[child.vars.value].data.tags|join(' ') }}">
						<td>{{ form_widget(child) }}</td>
						<td style="text-align:left;" >{{ child.parent.vars.choices[child.vars.value].label }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div id="form">
			{{ form_row(form.name) }}
			{{ form_row(form.date) }}
			{{ form_row(form.start)}}
			{{ form_row(form.end)}}
			{{ form_row(form.duration)}}
			{{ form_row(form.edit) }}
		</div>
	{{ form_end(form) }}
{% endblock %}

{% block java %}
	{{ tinymce_init() }}
{% endblock %}