{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
		{% stylesheets 'bundles/bioexam/css/form_extension.css' filter="cssrewrite" output="css/*.css" %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
		
		{% javascripts 'bundles/bioexam/js/tags.js' output="js/*.js" %}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
{% endblock %}

{% block content %}

	{{ form_start(form) }}
		<div class="questioncontainer">
			<input type="text" id="tag">
			<label>Search:</label>
			<div id="scroller" class="tableStyle">
				<table>
					<tr>
						<th></th>
						<th>Question</th>
					</tr>
					{% for child in form.questions.children %}
						<tr class="question" tags="{{ child.parent.vars.choices[child.vars.value].data.tags|join(' ') }}">
							<td style="text-align:center;">{{ form_widget(child) }}</td>
							<td>{{ form_label(child) }}</td>
						</tr>
					{% else %}
						<tr><td colspan=2 rowspan=2 style="text-align:center;">no questions<br /><a href="{{ path('manage_questions') }}">make some?</a></td></tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div id="form">
			{{ form_row(form.title) }}
			{{ form_row(form.section) }}
			{{ form_row(form.tDate) }}
			{{ form_row(form.tStart)}}
			{{ form_row(form.tEnd)}}
			{{ form_row(form.tDuration)}}
			{{ form_row(form.gDate) }}
			{{ form_row(form.gStart)}}
			{{ form_row(form.gEnd)}}
			{{ form_row(form.gDuration)}}
			{{ form_row(form.save) }}
		</div>
		<!-- so it doesn't render a random label when there are no questions -->
		<div style="display:none;">{{form_row(form.questions)}}</div>
	{{ form_end(form) }}
{% endblock %}
