{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% javascripts 'bundles/bioexam/js/Loader.js' 'bundles/bioexam/js/Parser.js' output="js/*.js" %}
		<script src="{{asset_url}}"></script>
	{% endjavascripts %}

{% endblock %}


{% block content %}
	<div class="form_layer">
		<div class="form_container">
			<h3 class="form_title">Add Exam</h3>
			{{ form(form) }}
		</div>
	</div>
	{#<div style="float:left; width:58%">
		<h4>Global Settings</h4>
		{{ form(globalForm) }}
	</div>#}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Section</th>
				<th>Date</th>
				<th>Start</th>
				<th>Questions</th>
				<th>Preview</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
		<tfoot>
			<tr>
				<td colspan=8 class="link add lonely">add exam</td>
			</tr>
		</tfoot>
	</table>
{% endblock %}

{% block java %}
	<script>var loader = new Loader({
		'url': '{{ url('main_page')}}crud/',
		'bundle': 'exam',
		'entity': 'exam',
		'table': document.querySelector('table'),
		'buttons': { // added to each column (left to right order)
			'preview': {
				'event': 'click', //optional
				'fn': function(event, button, self) {
					window.open(self.parser.parse('{{url("preview")}}?id=#{id}&type=exam', button.parentNode), '_blank')
				}
			},
			'edit': {
				'fn': function(event, button, self) {
					self.wait();
					var form = self.settings.form_layer.querySelector('form');
					form.reset();
					form.action = self.generateUrl('edit', button.parentNode.id);
					form.classList.add('edit');

					var url = self.generateUrl('get', button.parentNode.id);
					self.sendRequest(url, null, function() {
						var data = JSON.parse(this.responseText);
						if (data.success) {
							self.fillForm(data.data[0]);
							self.ready();
							self.showForm();
						} else {
							self.failure(data.message);
						}
					});
				}
			},
			'delete': {
				'fn': function(event, button, self) {
					self.wait();
					var url = self.generateUrl('delete', button.parentNode.id);
					self.sendRequest(url, null, function() {
						var data = JSON.parse(this.responseText);
						if (data.success) {
							button.parentNode.parentNode.removeChild(button.parentNode);
							self.ready();
							self.success('Deleted exam.');
						} else {
							self.ready();
							self.failure(data.message);
						}
					});
				}
			}
		},
		'listeners': [
			{
				'selector': 'form',
				'event': 'submit', // defaults to click
				'fn': function(event, object, self) {
					self.wait();
					self.hideForm();
					event.preventDefault();
					self.postForm(null, object, function(ajax) {
						var data = JSON.parse(ajax.responseText);
						if (data.success) {
							if (object.classList.contains('edit')) {
								var row = document.getElementById(data.data[0].id)
								row.parentNode.removeChild(row);
								self._addRow(data.data[0]);
								self.ready();
								self.success('Exam edited.');
							} else {
								self._addRow(data.data[0]);
								object.reset();
								self.ready();
								self.success('Exam created.');
							}
						} else {
							self.ready();
							self.failure(data.message);
							self.showForm();
						}
					});
				}
			},
			{
				'selector': '.link.add',
				'fn': function(event, object, self) {
					self.settings.form_layer.querySelector('form').action = self.generateUrl('create');
					var form = self.settings.form_layer.querySelector('form');
					form.classList.remove('edit');
					form.reset();
					self.showForm();
				}
			},
			{
				'selector': '.form_layer',
				'fn': function(event, object, self) {
					if (event.target === object)
					self.hideForm();
				}
			}
		],
		'columns': {
			'title': null,
			'section': function(value) {
				return value.toUpperCase();
			},
			'tDate': function(value) {
				return (new Date(value)).toLocaleDateString();
			},
			'tStart': function(value) {
				return (new Date(value)).toLocaleTimeString();
			},
			'questions': null
		},
		'loader': document.querySelector('div.notification'),
		'form_layer': document.querySelector('.form_layer')
	}); </script>
{% endblock %}
