{% extends 'BioPublicBundle::main.html.twig' %}

{% block content %}
	<div style="float:left; width:42%;">
		<h4>Add Exam</h4>
		{{ form(form) }}
	</div>
	<div style="float:left; width:58%">
		<h4>Global Settings</h4>
		{{ form(globalForm) }}
	</div>
	<table>
		<tr>
			<th>Name</th>
			<th>Section</th>
			<th>Date</th>
			<th>Start</th>
			<th>Questions</th>
			<th>Preview</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for exam in exams %}
			<tr>
				{% if date() > date(exam.gDate|date('Y-m-d')~' '~exam.gEnd|date('H:i:s')) %}
					<td><a href="{{ path('download_exam', {'id' : exam.id}) }}">{{exam.title}}</a></td>
				{% else %}
					<td>{{exam.title}}</td>
				{% endif %}
				<td>{{exam.section}}</td>
				<td>{{exam.tDate|date('m-d-y')}}</td>
				<td>{{exam.tStart|date('h:i')}}</td>
				<td>{{exam.questions|length}}</td>
				<td><a href="{{ path('preview') }}?id={{exam.id}}&type=exam">preview</a></td>
				<td><a href="{{ path('edit_exam', {'id':exam.id}) }}">edit</a></td>
				<td><a href="{{ path('delete_exam', {'id':exam.id}) }}">delete</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
