{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% javascripts 'bundles/bioexam/js/Loader.js' 'bundles/bioexam/js/Parser.js' output="js/*.js" %}
		<script src="{{asset_url}}"></script>
	{% endjavascripts %}

{% endblock %}


{% block content %}
	<!-- <div id="ajaxy" style="position:fixed;width: 100%;height: 1000px;top: 0px;left: 0px;z-index: 100000;background-color: rgba(0,0,0,.5);"></div> -->
	<div style="float:left; width:42%;">
		<h4>Add Exam</h4>
		{{ form(form) }}
	</div>
	{#<div style="float:left; width:58%">
		<h4>Global Settings</h4>
		{{ form(globalForm) }}
	</div>#}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Section</th>
				<th>Date</th>
				<th>Start</th>
				<th>Questions</th>
				<th>Preview</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
{% endblock %}

{% block java %}
	<script>var loader = new Loader({
		'url': '{{ url('main_page')}}',
		'bundle': 'exam',
		'entity': 'exam',
		'table': document.querySelector('table'),
		'buttons': {
			'preview': {
				'selector': '.button.preview',
				'event': 'click', //optional
				'fn': function(event, button, scope) {
					window.open('{{url("preview")}}?id=#{id}&type=exam', '_blank')
				}
			},
			'edit': {
				'selector': '.button.edit',
				'fn': function(event, button, scope) {
					console.log('editing', event);
				}
			},
			'delete': {
				'selector': '.button.delete',
				'fn': function(event, button, scope) {
					var url = scope.generateUrl('delete', button.id);
					scope.sendRequest(url, null, function(){
						button.parentNode.parentNode.removeChild(button.parentNode);
					});
				}
			}
		},
		'listeners': [
			{
				'selector': 'form',
				'event': 'submit', // defaults to click
				'fn': function(event, object, scope) {
					event.preventDefault();
					var url = scope.generateUrl('create')
					scope.postForm(url, object, function(ajax) {
						scope._addRow(JSON.parse(ajax.responseText).data[0]);
						object.reset();
					});
				}
			}
		],
		'columns': ['title', 'section', 'tDate', 'tStart', 'questions'],
		'loader': {
			'selector': '#ajaxy',
			'on_class': 'show'
		}
	}); </script>
{% endblock %}
