{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% javascripts 'bundles/bioexam/js/Loader.js' 'bundles/bioexam/js/Parser.js' output="js/*.js" %}
		<script src="{{asset_url}}"></script>
	{% endjavascripts %}

{% endblock %}


{% block content %}
	<div class="form_layer">
		<div class="form_container">
			<h3 class="form_title">Add Exam</h3>
			{{ form(form) }}
		</div>
	</div>
	{#<div style="float:left; width:58%">
		<h4>Global Settings</h4>
		{{ form(globalForm) }}
	</div>#}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Section</th>
				<th>Date</th>
				<th>Start</th>
				<th>Questions</th>
				<th>Preview</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
		<tfoot>
			<tr>
				<td colspan=8 class="link add lonely">add exam</td>
			</tr>
		</tfoot>
	</table>
{% endblock %}

{% block java %}
	<script>
	var loader = new Loader({
		'url': '{{ url('main_page')}}crud/',
		'bundle': 'exam',
		'entity': 'exam',
		'buttons': { // added to each column (left to right order)
			'preview': {
				'event': 'click', //optional
				'fn': function(event, button, self) {
					window.open(self.parser.parse('{{url("preview")}}?id=#{id}&type=exam', button.parentNode), '_blank')
				}
			}
		},
		'columns': {
			'title': null,
			'section': function(value, cell) {
				return value.toUpperCase();
			},
			't_date': function(value, cell) {
				return (new Date(value*1000)).toLocaleDateString();
			},
			't_start': function(value, cell) {
				return (new Date(value*1000)).toLocaleTimeString();
			},
			'questions': function(value, cell) {
				return value.length;
			}
		}
	}); </script>
{% endblock %}
