{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% javascripts 'bundles/bioexam/js/Loader.js' 'bundles/bioexam/js/Parser.js' output="js/*.js" %}
		<script src="{{asset_url}}"></script>
	{% endjavascripts %}

{% endblock %}


{% block content %}
	<div style="float:left; width:42%;">
		<h4>Add Exam</h4>
		{{ form(form) }}
	</div>
	<div style="float:left; width:58%">
		<h4>Global Settings</h4>
		{{ form(globalForm) }}
	</div>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Section</th>
				<th>Date</th>
				<th>Start</th>
				<th>Questions</th>
				<th>Preview</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
{% endblock %}

{% block java %}
	<script>var loader = new Loader({
		'url': '{{ url('main_page')}}',
		'bundle': 'exam',
		'entity': 'exam',
		'table': document.querySelector('table'),
		'buttons': ['preview', 'edit', 'delete'],
		'preview': function(button, self) {
			window.open('{{url("preview")}}?id=#{id}&type=exam', '_blank');
		},
		'columns': ['title', 'section', 'tDate', 'tStart', 'questions']
	}); </script>
{% endblock %}
