{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% javascripts 'bundles/bioexam/js/Loader.js' output="js/*.js" %}
		<script src="{{asset_url}}"></script>
	{% endjavascripts %}

{% endblock %}


{% block content %}
	<div style="float:left; width:42%;">
		<h4>Add Exam</h4>
		{{ form(form) }}
	</div>
	<div style="float:left; width:58%">
		<h4>Global Settings</h4>
		{{ form(globalForm) }}
	</div>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Section</th>
				<th>Date</th>
				<th>Start</th>
				<th>Questions</th>
				<th>Preview</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for exam in exams %}
				<tr>
					{% if date() > date(exam.gDate|date('Y-m-d')~' '~exam.gEnd|date('H:i:s')) %}
						<td><a href="{{ path('download_exam', {'id' : exam.id}) }}">{{exam.title}}</a></td>
					{% else %}
						<td>{{exam.title}}</td>
					{% endif %}
					<td>{{exam.section}}</td>
					<td>{{exam.tDate|date('m-d-y')}}</td>
					<td>{{exam.tStart|date('h:i a')}}</td>
					<td>{{exam.questions|length}}</td>
					<td><a href="{{ path('preview') }}?id={{exam.id}}&type=exam">preview</a></td>
					<td class="link edit" data-id="{{exam.id}}" }}>edit</td>
					<td class="link delete" data-id="{{exam.id}}" }}>delete</td>
				</tr>
			{% else %}
				<tr><td colspan=8 style="text-align:center;">no exams</td></tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block java %}
	<script>var loader = new Loader({
		'url': '{{ url('main_page')}}admin',
		'bundle': 'exam',
		'entity': 'exam',
		'table': document.querySelector('table')
	}); </script>
{% endblock %}
