{% extends 'BioPublicBundle:Template:rowForm.html.twig' %}

{% block head %}
	{{parent()}}
	{% stylesheets 'bundles/bioexam/css/form_extension.css' output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	{#<div style="float:left; width:58%">
		<h4>Global Settings</h4>
		{{ form(globalForm) }}
	</div>#}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Section</th>
				<th>Date</th>
				<th>Start</th>
				<th>Questions</th>
				<th>Preview</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
		<tfoot>
			<tr>
				<td colspan=8 class="link add lonely">add exam</td>
			</tr>
		</tfoot>
	</table>
{% endblock %}

{% block java %}
	<script>
	var loader = new Loader({
		'url': '{{ url('main_page')}}crud/',
		'bundle': 'exam',
		'entity': 'exam',
		'container' : {
			'sortFn': function(ob1, ob2) {
				return ob1.data.t_date < ob2.data.t_date;
			}
		},
		'buttons': { // added to each column (left to right order)
			'preview': {
				'event': 'click', //optional
				'fn': function(event, self) {
					window.open(self.parser.parse('{{url("preview")}}?id=#{id}&type=exam', this.parent.data), '_blank')
				}
			}
		},
		'columns': {
			'title': null,
			'section': function(value, cell) {
				return value?value.toUpperCase():'-';
			},
			't_date': function(value, cell, parser) {
				return parser.date(new Date(value*1000));
			},
			't_start': function(value, cell, parser) {
				return parser.time(new Date(value*1000));
			},
			'questions': function(value, cell) {
				return value.length;
			}
		}
	}); </script>
{% endblock %}
