{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
		{% stylesheets 'bundles/bioexam/css/form_extension.css' filter="cssrewrite" output="css/*.css" %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

		{% javascripts 'bundles/biostyle/js/DragDrop.js' output="js/*.js" %}
		<script src="{{asset_url}}"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	{{ form(form) }}

	<table>
		<tr>
			<th>Question</th>
			<th>Points</th>
			<th>Preview</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for question in questions %}
			<tr>
				<td>{{question.question|striptags|replace({'&nbsp;': ''})}}</td>
				<td>{{question.points}} pts</td>
				<td><a href="{{ path('preview') }}?id={{question.id}}&type=question">preview</a></td>
				<td><a href="{{ path('edit_question', {'id':question.id}) }}">edit</a></td>
				<td><a href="{{ path('delete_question', {'id':question.id}) }}">delete</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block java %}
	{{ tinymce_init() }}
{% endblock %}
