{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
		{% stylesheets 'bundles/bioexam/css/form_extension.css' filter="cssrewrite" output="css/*.css" %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
{% endblock %}

{% block content %}
	{{ form(form) }}

	<table>
		<tr>
			<th>Question</th>
			<th>Points</th>
			<th>Preview</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for question in questions %}
			<tr>
				<td>{{question.question|striptags|replace({'&nbsp;': ''})}}</td>
				<td>{{question.points}} pts</td>
				<td><a href="{{ path('preview') }}?id={{question.id}}&type=question">preview</a></td>
				<td><a href="{{ path('edit_question', {'id':question.id}) }}">edit</a></td>
				<td><a href="{{ path('delete_question', {'id':question.id}) }}">delete</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block java %}
	{{ tinymce_init() }}
	<script>
		(function() {
			function DragDrop(mce) {
				this.tinyMCE = mce;
				this.timeout = null;
				this.dropzones = [];
				this.handleFileSelect = function(evt) {
					evt.stopPropagation();
					evt.preventDefault();
					var reader = new FileReader();
					reader.onload = function() {
						evt.target.editor.insertContent('<img src="'+this.result+'" />');
					}
					reader.readAsDataURL(evt.dataTransfer.files[0]);
					hideDropZones();
					clearTimeout(this.timeout);
				}

				this.handleDragOver = function(e) {
					e.stopPropagation();
					e.preventDefault();
					
					for(var i = 0; i < this.dropzones.length; i++) {
						this.dropzones[i].style.display = 'block';

					}

					clearTimeout(this.timeout);
					this.timeout = setTimeout((function(self) {
						return function() {
							for (var i = 0; i < self.dropzones.length; i++) {
								self.dropzones[i].style.display = 'none';
							}
						}
					})(this), 100);
				}

				this.init = function() {
					for (var i = 0; i < 2; i++) {
						var editor = this.tinyMCE.get(i);
						var dropzone = editor.getContainer();
						var div = document.createElement('div');
							div.classList.add('dropzone');
							div.editor = editor;
							div.addEventListener('drop', this.handleFileSelect);
							this.dropzones[this.dropzones.length] = div;
						dropzone.appendChild(div);
					}

					window.addEventListener('drop', function(e) {
						e.preventDefault();
					});

					document.body.addEventListener('dragover', (function(self) {
						return function(e) {
							self.handleDragOver(e);
						}
					})(this));
				}
				this.init();
			}
			window.onload = function() {
				new DragDrop(tinyMCE);
			}
		})();

	</script>
{% endblock %}
