{% extends 'BioPublicBundle:Template:rowForm.html.twig' %}

{% block head %}
	{{ parent() }}
		{% stylesheets 'bundles/bioexam/css/form_extension.css' filter="cssrewrite" output="css/*.css" %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

		{% javascripts 'bundles/biopublic/js/DragDrop.js' output="js/*.js" %}
		<script src="{{asset_url}}"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<div class="form_layer">
		<div class="form_container">
			<div class="form_scroller">
				{{ form(form) }}
			</div>
			<div class="form_exit"></div>
		</div>
	</div>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Question</th>
				<th>Points</th>
				<th>Preview</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		<thead>
		<tbody>

		</tbody>
		<tfoot>
			<tr>
				<td colspan=6 class="link add lonely">add question</td>
			</tr>
		</tfoot>
	</table>
{% endblock %}

{% block java %}
	{{ tinymce_init() }}

	<script>var loader = new Loader({
		'url': '{{ url('main_page')}}crud/',
		'bundle': 'exam',
		'entity': 'question',
		'table': {
			'sortFn': function(ob1, ob2) {
				return parseInt(ob1.data.id) < parseInt(ob2.data.id);
			}
		},
		'buttons': { // added to each column (left to right order)
			'preview': {
				'event': 'click', //optional
				'fn': function(event, self) {
					window.open(self.parser.parse('{{url("preview")}}?id=#{id}&type=question', this.parentNode), '_blank')
				}
			}
		},
		'columns': {
			'id': function(value, cell) {
				return "#"+value;
			},
			'question': function(value, cell) {
				value = value.replace(/(<([^>]+)>)/ig,"");
				cell.title = value;
				return value.slice(0, 100) + (value.length > 100?'...':'');
			},
			'points': null
		}
	}); </script>

{% endblock %}
