{% extends 'BioNewExamBundle:Public:main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/bioexam/css/exam.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<form method="POST">
		{% for question in exam.questions %}
			<div class="question tableStyle">
				<h2 style="float:left;">Question {{loop.index}}</h2> <h2 style="float:right;">{{question.points}} points</h2>
				<div class="q">
					{{ question.question|raw }}
				</div>
				<div class="line"></div>
				<h2>Answer</h2>
				<div class="a">
					{% if taker is defined %}
						{% set answer = taker.getAnswer(question) %}
					{% endif %}

					{# cant have any extra spaces between textareas #}
					<textarea name="{{question.id}}" required="required">{% if answer is defined and answer != null %}{{ answer.answer }}{% endif %}</textarea>
				</div>
			</div>
		{% endfor %}
		<div id="submit" >
			<button type="submit" />Submit</button>
		</div>
	</form>
	{{parent()}}
	{% if taker is defined %}
		{% include 'BioNewExamBundle:Public:timer.html.twig' %}
	{% endif %}
{% endblock %}