{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
		{% stylesheets 'bundles/biostudent/css/form.css' filter="cssrewrite" output="css/*.css" %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

{% endblock %}

{% block content %}
<table border="1px">
	<tr>
		<th>Username</th>
		<th>Role</th>
		<th>Promote</th>
		<th>Demote</th>
		<th>Delete</th>
	</tr>
	{% for user in users if user.roles[0] != "ROLE_SETUP" %}
		<tr>
			<td>{{user.username}}</td>
			<td>{{user.roles|join(", ")|replace({'ROLE' : '', '_' : ' '}) }}</td>
			{% if'ROLE_SUPER_ADMIN' in user.roles %}
				<td>promote</td>
			{% else %}
				<td><a href="{{ path('mote_user', {'type' : 'pro'}) }}?id={{user.id}}">promote</a></td>
			{% endif %}

			{% if 'ROLE_USER' in user.roles %}
				<td>demote</td>
			{% else %}
				<td><a href="{{ path('mote_user', {'type' : 'de'}) }}?id={{user.id}}">demote</a></td>
			{% endif %}
			<td><a href="{{ path('delete_user') }}">delete</a></td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
