{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block content %}
	{{ form(form) }}

	<table>
		<tr>
			<th>Student ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Remove</th>
		</tr>
		{% for student in students %}
			<tr>
				<td>{{student.sid}}</td>
				<td>{{student.fullname}}</td>
				<td>{{student.email}}</td>
				<td><a href="mailto:{{student.email}}">remove</a></td>
			</tr>
		{% endfor %}
		{% if students|length > 1 %}
			<tr>
				<td colspan=4 style="text-align:center;"><a href="">email all</a></td>
			</tr>
		{% endif %}
	</table>
{% endblock %}