{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css'
				   'bundles/biotrip/css/pikaday.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	{% javascripts 'bundles/biopublic/js/DragDrop.js'
				   'bundles/biotrip/js/pikaday.js' output="js/*.js" %}
		<script src="{{asset_url}}"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	{{ form(form) }}

	<table>
		<tr>
			<th>Student ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Remove</th>
		</tr>
		{% for student in trip.students %}
			<tr>
				<td>{{student.sid}}</td>
				<td>{{student.lName}}, {{student.fName}}</td>
				<td><a href="mailto:{{student.email}}">{{student.email}}</a></td>
				<td><a href="{{ internal('remove_student', {'id': trip.id, 'sid':student.id}) }}">remove</a></td>
			</tr>
		{% endfor %}
		{% if trip.students|length > 1 %}
			<tr>
				<td colspan=1>
					{% spaceless %}
						<a href="mailto:?bcc={% for student in trip.students %}{{student.email}},{% endfor %}">
					{% endspaceless %}
					email all
					</a>
				</td>
				<td colspan=3>
					<input style="width:100%;" onClick="this.select();" value="{% for student in trip.students %}{{student.email}},{% endfor %}">
				</td>
			</tr>
		{% endif %}
	</table>
{% endblock %}

{% block java %}
	{{ tinymce_init() }}
	<script>
		(function() {
			window.addEventListener('load', function() {
				var datetimes = document.querySelectorAll('input.datetime');
					for(var i = 0; _datetime = datetimes[i]; i++) {
						new Pikaday({
							field: _datetime,
							showTime: true
						});
					}
				}
			);
		})();
	</script>
{% endblock %}