{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	{{ form(form) }}

	<table>
		<tr>
			<th>Student ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Remove</th>
		</tr>
		{% for student in trip.students %}
			<tr>
				<td>{{student.sid}}</td>
				<td>{{student.fName}} {{student.lName}}</td>
				<td><a href="mailto:{{student.email}}">{{student.email}}</a></td>
				<td><a href="{{ path('remove_student', {'id': trip.id, 'sid':student.id}) }}">remove</a></td>
			</tr>
		{% endfor %}
		{% if trip.students|length > 1 %}
			<tr>
				<td colspan=4 style="text-align:center;">
					{% spaceless %}
						<a href="mailto:?bcc={% for student in trip.students %}{{student.email}},{% endfor %}">
					{% endspaceless %}
					email all
					</a>
				</td>
			</tr>
			<tr>
				<td colspan=4 style="text-align:center;">
					<input style="width:90%;" onClick="this.select();" value="{% for student in trip.students %}{{student.email}},{% endfor %}">
				</td>
			</tr>
		{% endif %}
	</table>
{% endblock %}

{% block java %}
	{{ tinymce_init() }}
	<script>
		(function() {
			function DragDrop(mce) {
				this.tinyMCE = mce;
				this.timeout = null;
				this.dropzones = [];
				this.handleFileSelect = function(evt) {
					evt.stopPropagation();
					evt.preventDefault();
					var reader = new FileReader();
					reader.onload = function() {
						evt.target.editor.insertContent('<img src="'+this.result+'" />');
					}
					reader.readAsDataURL(evt.dataTransfer.files[0]);
					hideDropZones();
					clearTimeout(this.timeout);
				}

				this.handleDragOver = function(e) {
					e.stopPropagation();
					e.preventDefault();
					
					for(var i = 0; i < this.dropzones.length; i++) {
						this.dropzones[i].style.display = 'block';

					}

					clearTimeout(this.timeout);
					this.timeout = setTimeout((function(self) {
						return function() {
							for (var i = 0; i < self.dropzones.length; i++) {
								self.dropzones[i].style.display = 'none';
							}
						}
					})(this), 100);
				}

				this.init = function() {
					for (var i = 0; i < 2; i++) {
						var editor = this.tinyMCE.get(i);
						var dropzone = editor.getContainer();
						var div = document.createElement('div');
							div.classList.add('dropzone');
							div.editor = editor;
							div.addEventListener('drop', this.handleFileSelect);
							this.dropzones[this.dropzones.length] = div;
						dropzone.appendChild(div);
					}

					window.addEventListener('drop', function(e) {
						e.preventDefault();
					});

					document.body.addEventListener('dragover', (function(self) {
						return function(e) {
							self.handleDragOver(e);
						}
					})(this));
				}
				this.init();
			}
			window.onload = function() {
				new DragDrop(tinyMCE);
			}
		})();

	</script>
{% endblock %}