{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<h2>Create Evaluation</h2>
	<form method="POST" class="tableStyle">
		<table>
			<thead>
				<tr>
					<th>Question</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody id="body">
				{% for query in queries %}
					<tr>
						<td class="text"><textarea name="{{query.id}}">{{query.question}}</textarea></td>
						<td class="delete">delete</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan=2>
						<table>
							<tr>
								<td id="add">add question</td>
							</tr>
						</table>
					</td>
				</tr>
			</tfoot>
		</table>
		<input type="submit" value="Edit" />
	</form>

	<h2>Download Evaluations</h2>
	<table>
		<tr>
			<th>Trip</th>
			<th>Summary</th>
			<th>Evaluations</th>
			<th>Download</th>
		</tr>
		{% for trip in trips %}
		{% if date(trip.end) < date() %}
			<tr>
		{% else %}
			<tr class="passed">
		{% endif %}
				<td>{{trip.title}}</td>
				<td>{{trip.shortSum}}</td>
				<td>{{trip.evals|length}}/{{trip.students|length}}</td>
				<td><a href="{{ path('trip_download', {'id': trip.id}) }}">download</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block java %}
	<script>
		var addButton = document.getElementById('add');
		var deleteButtons = document.getElementsByClassName('delete');
		var body = document.getElementById('body');
		var index = -1;

		var deleteFunction = function(event) {
			var tr = event.target.parentElement;
			tr.parentElement.removeChild(tr);
		}

		for(var i = 0; i < deleteButtons.length; i++) {
			deleteButtons[i].onclick = deleteFunction;
		}


		addButton.onclick = function() {
			var row = body.insertRow(-1);
			var deleteCell = row.insertCell();
			var textCell = row.insertCell();

			textCell.classList.add('text');
			textCell.innerHTML = "<textarea name="+ index-- +"></textarea>";

			deleteCell.classList.add('delete');
			deleteCell.innerHTML = 'delete';
			deleteCell.onclick = deleteFunction;
		}
	</script>
{% endblock %}