{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<h2>Create Evaluation</h2>
	<table>
		<thead>
			<tr>
				<th>Question</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody id="body">
			{% for query in queries %}
				<tr>
					<td><textarea name="{{query.id}}">{{query.question}}</textarea><td>
					<td><a href="">delete</a></td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan=2>
					<table>
						<tr>
							<td style="text-align:center;"><div id="add"></div></td>
						</tr>
					</table>
				</td>
			</tr>
		</tfoot>
	</table>

	<h2>Download Evaluations</h2>
	<table>
		<tr>
			<th>Trip</th>
			<th>Summary</th>
			<th>Evaluations</th>
			<th>Download</th>
		</tr>
		{% for trip in trips %}
		{% if date(trip.end) < date() %}
			<tr>
		{% else %}
			<tr class="passed">
		{% endif %}
				<td>{{trip.title}}</td>
				<td>{{trip.shortSum}}</td>
				<td>{{trip.evals|length}}/{{trip.students|length}}</td>
				<td><a href="{{ path('trip_download', {'id': trip.id}) }}">download</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block java %}
	<script>
		var button = document.getElementById('add');
		var body = document.getElementById('body');
		button.onclick = function() {
			var row = body.insertRow(-1);
			var deleteCell = row.insertCell();
			var textCell = row.insertCell();

			textCell.innerHTML = "<textarea></textarea>";

			deleteCell.innerHTML = '<a href="">delete</a>';
		}
	</script>
{% endblock %}