{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	{% javascripts 'bundles/biotrip/js/switcher.js'
				   'bundles/biopublic/js/DragDrop.js' output="js/*.js" %}
		<script src="{{asset_url}}"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<div id="switcher">
		<div style="text-align:center;">
			<span style="margin-right:60px;" id="formButton" class="link">Add Trip</span>
			<span id="globalButton" class="link">Change Settings</span>
		</div>

		<div id="formContainer">
			<h4>Add Trip</h4>
			{{ form(form) }}
		</div>

		<div id="globalContainer" style="display:none;">
			<h4>Global Settings</h4>
			{{ form(globalForm) }}
		</div>
	</div>

	<table>
		<tr>
			<th>Trip</th>
			<th>Summary</th>
			<th>Start</th>
			<th>End</th>
			<th>Spots Taken</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for trip in trips %}
			<tr>
				<td>{{ trip.title }}</td>
				<td>{{ trip.shortSum|striptags|replace({'&nbsp;': ''}) }}</td>
				<td>{{ trip.start|date('d-m-y H:i:s') }}</td>
				<td>{{ trip.end|date('d-m-y H:i:s') }}</td>
				<td>{{ trip.students|length }}/{{trip.max}}</td>
				<td><a href="{{ path('edit_trip', {'id':trip.id}) }}">edit</a></td>
				<td><a href="{{ path('delete_trip', {'id':trip.id}) }}">delete</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block java %}
	{{ tinymce_init() }}
{% endblock %}