{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<div>
		<div style="float:right; width: 50%;">
			<h4>Global Settings</h4>
			{{ form(globalForm) }}
		</div>
		<h4>Add Trip</h4>
		{{ form(form) }}
	</div>

	<table>
		<tr>
			<th>Trip</th>
			<th>Summary</th>
			<th>Start</th>
			<th>End</th>
			<th>Spots Taken</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for trip in trips %}
			<tr>
				<td>{{ trip.title }}</td>
				<td>{{ trip.shortSum|striptags|replace({'&nbsp;': ''}) }}</td>
				<td>{{ trip.start|date('d-m-y H:i:s') }}</td>
				<td>{{ trip.end|date('d-m-y H:i:s') }}</td>
				<td>{{ trip.students|length }}/{{trip.max}}</td>
				<td><a href="{{ path('edit_trip', {'id':trip.id}) }}">edit</a></td>
				<td><a href="{{ path('delete_trip', {'id':trip.id}) }}">delete</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block java %}
	{{ tinymce_init() }}
	<script>
		(function() {
			function DragDrop(mce) {
				this.tinyMCE = mce;
				this.timeout = null;
				this.dropzones = [];
				this.handleFileSelect = function(evt) {
					evt.stopPropagation();
					evt.preventDefault();
					var reader = new FileReader();
					reader.onload = function() {
						evt.target.editor.insertContent('<img src="'+this.result+'" />');
					}
					reader.readAsDataURL(evt.dataTransfer.files[0]);
					hideDropZones();
					clearTimeout(this.timeout);
				}

				this.handleDragOver = function(e) {
					e.stopPropagation();
					e.preventDefault();
					
					for(var i = 0; i < this.dropzones.length; i++) {
						this.dropzones[i].style.display = 'block';

					}

					clearTimeout(this.timeout);
					this.timeout = setTimeout((function(self) {
						return function() {
							for (var i = 0; i < self.dropzones.length; i++) {
								self.dropzones[i].style.display = 'none';
							}
						}
					})(this), 100);
				}

				this.init = function() {
					for (var i = 0; i < 2; i++) {
						var editor = this.tinyMCE.get(i);
						var dropzone = editor.getContainer();
						var div = document.createElement('div');
							div.classList.add('dropzone');
							div.editor = editor;
							div.addEventListener('drop', this.handleFileSelect);
							this.dropzones[this.dropzones.length] = div;
						dropzone.appendChild(div);
					}

					window.addEventListener('drop', function(e) {
						e.preventDefault();
					});

					document.body.addEventListener('dragover', (function(self) {
						return function(e) {
							self.handleDragOver(e);
						}
					})(this));
				}
				this.init();
			}
			window.onload = function() {
				new DragDrop(tinyMCE);
			}
		})();

	</script>
{% endblock %}