{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css'
				   'bundles/biotrip/css/pikaday.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	{% javascripts 'bundles/biotrip/js/switcher.js'
				   'bundles/biopublic/js/DragDrop.js'
				   'bundles/biotrip/js/pikaday.js' output="js/*.js" %}
		<script src="{{asset_url}}"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<div id="switcher">
		<div style="text-align:center;">
			<span style="margin-right:60px;" id="formButton" class="link">Add Trip</span>
			<span id="globalButton" class="link">Change Settings</span>
		</div>

		<div id="formContainer">
			<h4>Add Trip</h4>
			{{ form(form) }}
		</div>

		<div id="globalContainer" style="display:none;">
			<h4>Global Settings</h4>
			{{ form(globalForm) }}
		</div>
	</div>

	<table>
		<tr>
			<th>Trip</th>
			<th>Start</th>
			<th>End</th>
			<th>Spots Taken</th>
			<th>View</th>
			<th>Copy</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for trip in trips %}
			<tr>
				<td>{{ trip.title }}</td>
				<td>{{ trip.start|date('m-d-y h:i a') }}</td>
				<td>{{ trip.end|date('m-d-y h:i a') }}</td>
				<td>{{ trip.students|length }}/{{trip.max}}</td>
				<td><a href="{{ path('view_trip', {'id':trip.id}) }}">view</a></td>
				<td><a href="{{ path('copy_trip', {'id':trip.id}) }}">copy</a></td>
				<td><a href="{{ path('edit_trip', {'id':trip.id}) }}">edit</a></td>
				<td><a href="{{ path('delete_trip', {'id':trip.id}) }}">delete</a></td>
			</tr>
		{% else %}
			<tr><td colspan=7 style="text-align:center;">no trips</td></tr>
		{% endfor %}
	</table>
{% endblock %}

{% block java %}
	{{ tinymce_init() }}
	<script>
		(function() {
			window.addEventListener('load', function() {
				var datetimes = document.querySelectorAll('input.datetime');
					for(var i = 0; _datetime = datetimes[i]; i++) {
						new Pikaday({
							field: _datetime,
							showTime: true
						});
					}
				}
			);
		})();
	</script>
{% endblock %}