{% extends 'BioStyleBundle:Default:base.html.twig' %}

{% block header %}
	{{parent()}}

	<div id="sign">
		<div class="login">
			{% if is_granted('ROLE_USER') %}
				<a>{{app.user.username}}</a>
			 	<div class="menu">
			 		<ul>
			 			<a href="{{ path('reset_password') }}"><li>change password</li></a>
			 			<a href="{{ path('logout') }}"><li>logout</li></a>
			 		</ul>
			 	</div>
			{% else %}
				<a href="{{ path('login') }}">Login</a>
			{% endif %}
		</div>
	</div>

{% endblock %}

{% block left %}
	{{ render(controller('BioStyleBundle:Default:sidebar', {'error':false})) }}
{% endblock %}

{% block basecontent %}
	{% if app.session.flashbag.has('failure') %}
		<div class="failure">
			{{ app.session.flashbag.get('failure')[0] }}
		</div>
	{% elseif app.session.flashbag.has('success') %}
		<div class="success">
			{{ app.session.flashbag.get('success')[0] }}
		</div>
	{% endif %}
	{% block content %}

	{% endblock %}
{% endblock %}