{% extends 'BioStyleBundle:Default:base.html.twig' %}
{% block title %}UW - Biology{% endblock %}

{% block head %}
	{% block stylesheets %}
		{% stylesheets 'bundles/biostyle/css/page.css' filter="cssrewrite" output="css/*.css" %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% endblock %}
{% endblock %}

{% block body %}
	<div id="container">
		<div id="page">
			<div id="header">
				<a id="logo" href="http://www.biology.washington.edu"></a>
				<div id="dub">
					<div id="wLogo">
						<div id="w">
							<a href="http://www.washington.edu"></a>
						</div>
						<!-- <div id="x">
							<a href="http://www.washington.edu/"></a>
						</div> -->
					</div>
				</div>

				{{ render(controller('BioStyleBundle:Default:title')) }}

				<div id="sign">
					{% if is_granted('ROLE_USER') %}
						<a href="{{ path('logout') }}">Logout</a>
						{% if is_granted('ROLE_SUPER_ADMIN') %}
							- super admin
						{% elseif is_granted('ROLE_ADMIN') %}
							- admin
						{% else %}
							- user
						{% endif %}
					{% else %}
						<a href="{{ path('login') }}">Admin</a>
					{% endif %}
				</div>
			</div>

			<div id="left">
				{{ render(controller('BioStyleBundle:Default:sidebar', {'route':app.request.attributes.get('_route')})) }}
			</div>

			<div id="center">
				{% if title is defined %}
					<h1>{{title}}</h1>
				{% endif %}
				<div id="content">
					{% if app.session.flashbag.has('success') %}
						<div class="success">
							{{ app.session.flashbag.get('success')[0] }}
						</div>
					{% elseif app.session.flashbag.has('failure') %}
						<div class="failure">
							{{ app.session.flashbag.get('failure')[0] }}
						</div>
					{% endif %}
					{% block content %}

					{% endblock %}
				</div>
			</div>
		</div>

		<div id="footer">

		</div>
	</div>
{% endblock %}