{% if is_granted('ROLE_ADMIN') %}
	<div class="content">
		<ul class="trunk">
			{% for key,value in options %}
				<li class="branch">
					<a href="{{ path(options[key][key]['route']) }}">{{key}}</a>
					{% if options[key]|length > 1 %}
						<ul class="twig">
							{% for key1,value1 in options[key] %}
								{% if key1 != key %}
									{% if 'vars' in value1|keys  %}
										<li class="leaf"><a href="{{ path(value1['route'], value1['vars']) }}">{{key1}}</a></li>
									{% else %}
										<li class="leaf"><a href="{{ path(value1['route']) }}">{{ key1}}</a></li>
									{% endif %}
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% else %}
	<div class="content">
		<ul class="trunk">
			<li class="branch"><a href="{{ path('main_page') }}">Home</a></li>
			{% if root.folders|length > 0 %}


				<li class="branch">
					<a href="{{ path('public_folder', {'id' : 1}) }}">Folders</a>
					<ul class="twig">
						{% for folder in root.folders %}
							{% if folder.private != true %}
								<li class="leaf">
									<a href="{{ path('public_folder', {'id' : folder.id}) }}">{{folder.name}}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			{% endif %}


			{% if root.files|length > 0 %}
				<li class="branch">
					<a href="{{ path('public_folder', {'id' : 1}) }}">Files</a>
					<ul class="twig">
						{% for file in root.files %}
							{% if file.private != true %}
								<li class="leaf">
									<a href="{{ path('download', {'filename' : file.path}) }}">{{file.name}}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			{% endif %}


			{% if links|length > 0 %}
				<li class="branch">
					<a href="{{ path('public_links') }}">Links</a>
					<ul class="twig">
						{% for link in links %}
							<li class="leaf"><a href="{{link.address}}">{{link.title}}</a></li>
						{% endfor %}
					</ul>
				</li>


			{% endif %}
		</ul>
	</div>
{% endif %}