<div class="content">
	<ul class="trunk">
		{% for key,value in options %}
			{% if key != expanded %}
				<li class="branch"><a href="{{ path(options[key][key]['route']) }}">{{key|capitalize}}</a></li>
			{% else %}
				<li class="branch top">
					<a href="{{ path(options[expanded][expanded]['route']) }}">{{expanded}}</a>

					<ul class="twig">
						{% for key1,value1 in options[key] %}
							{% if key1 != expanded %}
								{% if value1['vars'] %}
									<li class="leaf"><a href="{{ path(value1['route'], value1['vars']) }}">{{ key1}}</a></li>
								{% else %}
									<li class="leaf"><a href="{{ path(value1['route']) }}">{{ key1}}</a></li>
								{% endif %}
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>