<div class="content">
	<ul class="trunk">
		{% for key,value in options %}
			{% if key != top %}
				<li class="branch"><a href="{{ path(options[key][key]) }}">{{key|capitalize}}</a></li>
			{% else %}
				<li class="branch top">
					<a href="{{ path(options[top][top]) }}">{{top}}</a>

					<ul class="twig">
						{% for key1,value1 in options[top] %}
							{% if key1 != top %}
								{% if ("." in value1) %}
									<li class="leaf"><a href="{{ path(value1|split('.')[0], {'entityName' : value1|split('.')[1]}) }}"> {{key1|capitalize}} </a></td>
								{% else %}
									<li class="leaf"><a href="{{ path(value1) }}">{{key1|capitalize}}</a></li>
								{% endif %}
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>