{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/bioinfo/css/form_extension.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	{{ form(form) }}

	{% set expired = [] %}
	{% set shown = [] %}
	{% set hidden = [] %}

	{% for ann in entities %}
		{% if date() > date(ann.expiration) %}
			{% set expired = expired|merge([ann]) %}
		{% elseif date() < date(ann.timestamp) %}
			{% set hidden = hidden|merge([ann]) %}
		{% else %}
			{% set shown = shown|merge([ann]) %}
		{% endif %}
	{% endfor %}

	<table>
		<tr>
			<th>Status</th>
			<th>Text</th>
			<th>Timestamp</th>
			<th>Expiration</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>

		{% for ann in hidden %}
			<tr class="hidden">
				<td>Hidden</td>
				<td>{{ann.text}}</td>
				<td>{{ann.timestamp|date('m/d/Y h:i a')}}</td>
				<td>{{ann.expiration|date('m/d/Y h:i a')}}</td>
				<td><a href="{{ internal('edit', {'entityName' : 'announcement', 'id' : ann.id}) }}">edit</a></td>
				<td><a href="{{ internal('delete', {'entityName' : 'announcement', 'id' : ann.id}) }}">delete</a></td>
			</tr>
		{% endfor %}
		{% for ann in shown %}
		<tr class="showing">
				<td>Showing</td>
				<td>{{ann.text}}</td>
				<td>{{ann.timestamp|date('m/d/Y h:i a')}}</td>
				<td>{{ann.expiration|date('m/d/Y h:i a')}}</td>
				<td><a href="{{ internal('edit', {'entityName' : 'announcement', 'id' : ann.id}) }}">edit</a></td>
				<td><a href="{{ internal('delete', {'entityName' : 'announcement', 'id' : ann.id}) }}">delete</a></td>
			</tr>
		{% endfor %}
		{% for ann in expired %}
		<tr class="expired">
				<td>Expired</td>
				<td>{{ann.text}}</td>
				<td>{{ann.timestamp|date('m/d/Y h:i a')}}</td>
				<td>{{ann.expiration|date('m/d/Y h:i a')}}</td>
				<td><a href="{{ internal('edit', {'entityName' : 'announcement', 'id' : ann.id}) }}">edit</a></td>
				<td><a href="{{ internal('delete', {'entityName' : 'announcement', 'id' : ann.id}) }}">delete</a></td>
			</tr>
		{% endfor %}

		{% if entities|length == 0 %}
			<tr><td colspan=6 style="text-align:center">no entities</td></tr>
		{% endif %}
	</table>
{% endblock %}