{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/bioinfo/css/form_extension.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	{% javascripts 'bundles/bioexam/js/Loader.js' 'bundles/bioexam/js/Parser.js' output="js/*.js" %}
		<script src="{{asset_url}}"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<div class="form_layer">
		<div class="form_container">
			<div class="form_scroller">
				{{ form(form) }}
			</div>
			<div class="form_exit"></div>
		</div>
	</div>

	<table>
		<thead>
			<tr>
				<th>Status</th>
				<th>Text</th>
				<th>Timestamp</th>
				<th>Expiration</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>

		<tbody>

		</tbody>
		<tfoot>
			<tr>
				<td colspan=6 class="link add lonely">add announcement</td>
			</tr>
		</tfoot>
	</table>
{% endblock %}

{% block java %}
	<script>
	var loader = new Loader({
		'url': '{{ url('main_page')}}crud/',
		'bundle': 'info',
		'entity': 'announcement',
		'table' : {
			'sortFn': function(dataA, dataB) {
				return dataA.timestamp > dataB.timestamp;
			}
		},
		'columns': {
			'status': function(value, cell) {
				cell.parentNode.classList.add(value);
				return value;
			},
			'text': null,
			'timestamp': function(value, cell) {
				return (new Date(value*1000)).toLocaleString();
			},
			'expiration': function(value, cell) {
				return (new Date(value*1000)).toLocaleString();
			}
		}
	}); </script>
{% endblock %}