{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}

	{% stylesheets 'bundles/biofolder/css/folder.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}

<h2 style="margin-top:30px; margin-bottom:5px;">Front Page Content</h2>
<ul>
	{% include 'BioFolderBundle:Default:structure.html.twig' with {'root' : main, 'selected' : selected} %}
</ul>

<h2 style="margin-top:30px; margin-bottom:5px;">Sidebar Content</h2>
<ul>
	{% include 'BioFolderBundle:Default:structure.html.twig' with {'root' : root, 'selected' : selected} %}
</ul>

<div class="f">
<h2>Add Folder</h2>
{{ form(folderForm) }}
</div>
<div class="f">
<h2>Add File</h2>
{{ form(fileForm) }}
</div>
<div class="f">
<h2>Add Link</h2>
{{ form(linkForm) }}
</div>
{% endblock %}
