{% extends 'BioPublicBundle:Content:instruction.html.twig' %}

{% block content %}
	<p>Welcome to the Scores section. From here you can view and upload an excel file of student scores. Letting students view their own scores through a publicly accessible link.</p>
	<div>
		{% image 'bundles/bioscore/images/upload.png' output='images/*.png' %}
			<img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ internal('scores') }}">Upload</a></h2>
		<p>From this page you can upload student scores from excel. Make sure to save the file as a <i>Tab Delimited Text (.txt)</i> file with names of assignments as the first row and student IDs as the first column or uploading will not work. Statistics can be added as well. Instead of a student ID number, simply replace it with the name of the statistic.</p>

		<p> Uploading a new file will completely overwrite the current file. It <b>cannot</b> be undone.</p>
	</div>

	<div>
		{% image 'bundles/bioscore/images/find.png' output='images/*.png' %}
			<img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ internal('find_score') }}">Find Scores</a></h2>
		<p>This link can be accessed by any student currently registered in the course and added to the course site. But by default this link cannot be found anywhere on the site. You can distribute the link yourself with the URL <input onClick="this.select();" value="{{ url('find_score') }}" />.</p>

		<p> When a student signs in, the page will display their scores along with any statistics given.</p>
	</div>

	<div>
		<h2>Example Data</h2>
		{% image 'bundles/bioscore/images/sample.png' output='images/*.png' %}
			<img class="full" src="{{ asset_url }}"/>
		{% endimage %}
	</div>
{% endblock %}