{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	{% set numPassed = 0 %}

	{% for trip in trips %}
		{% if date(trip.start) > date() %}
			<div class="trip">
				<h2>{{trip.title}}</h2>
				<h2>{{trip.start|date('m/d H:i')}} - {{trip.end|date('m/d H:i')}}</h2>
				<p style="clear:both;">{{trip.shortSum}}</p>
				<a href="{{ path('view_trip') }}?id={{trip.id}}">View Trip</a>
				- {{trip.max - trip.students|length}} spots left.
			</div>
		{% else %}
			{% set numPassed = numPassed + 1 %}
		{% endif %}
	{% endfor %}

	{% for trip in trips if numPassed > 0 %}
		<div class="trip passed">
				<h2>{{trip.title}}</h2>
				<h2>{{trip.start|date('m/d H:i')}} - {{trip.end|date('m/d H:i')}}</h2>
				<p style="clear:both;">{{trip.shortSum}}</p>
				<a href="{{ path('view_trip') }}?id={{trip.id}}">View Trip</a>
				- trip over.
			</div>
		{% set numPassed = numPassed - 1 %}
	{% endfor %}
{% endblock %}