{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}

{% for trip in trips %}
	{% if current != null and trip in current %}
		{% set cur = 'current' %}
	{% else %}
		{% set cur = '' %}
	{% endif %}

	{% if date(trip.start) < date() %}
		{% set passed = 'passed' %}
	{% else %}
		{% set passed = '' %}
	{% endif %}

	<div class="trip {{cur}} {{passed}}">
		<h2>{{trip.title}}</h2>
		<h2>{{trip.start|date('m/d H:i')}} - {{trip.end|date('m/d H:i')}}</h2>

		<p style="clear:both;">{{trip.shortSum}}</p>

		{% if date(trip.start) < date() %}
			{% if current != null and trip in current %}
				<a class="eval" href="{{ path('eval_trip', {'id': trip.id, 'tripTitle': trip.title|replace({" " : "_"})}) }}">Evaluate Trip</a>
			{% else %}
				<a>Join Trip</a>
			{% endif %}
				- trip over.
		{% elseif current != null and trip in current %}
			<a href="{{ path('leave_trip', {'id': trip.id}) }}">Leave Trip</a>
			- {{trip.max - trip.students|length}} spots left.
		{% else %}
			{% if current|length >= global.maxTrips %}
				<a>Join Trip</a>
			{% else %}
				<a href="{{ path('join_trip', {'id': trip.id}) }}">Join Trip</a>
			{% endif %}
			- {{trip.max - trip.students|length}} spots left.
		{% endif %}
		<a href="{{ path('view_trip', {'id': trip.id}) }}">View Trip</a>
	</div>
{% endfor %}

{{parent()}}

{% endblock %}