{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% macro trip(trips, name, cur, message, global, maxed) %}
	<h2 class="tripSection border">{{name}}</h2>
	{% for trip in trips %}
		{% include 'BioTripBundle:Public:tripTemplate.html.twig' %}
	{% else %}
	<div class="trip">
		<h3>No trips</h3>
		{% if message != '' %}
			<p>{{message|raw}}</p>
		{% endif %}
	</div>
	{% endfor %}
{% endmacro %}

{% import _self as row %}

{% block content %}
	<div>{{global.instructions|raw}}</div>

	{% if is_granted('ROLE_STUDENT') %}
		{{row.trip(your, 'Your Trips', 'current', 'You are not signed up for any trips.', global, false)}}

	{% else %}
		{{row.trip(your, 'Your Trips', 'current', '<a href="' ~ path("login") ~ '">Sign in</a> to see your trips.', global, false)}}
	{% endif %}

	{{row.trip(future, 'Future Trips', '', 'Check back soon for more trips.', global, your|length >= global.maxTrips )}}

	{{row.trip(past, 'Past Trips', '', '', global, false)}}

{% endblock %}