{% extends 'BioPublicBundle::main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biotrip/css/trip.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<div id="submit">
		<form method="POST">
			<div id="form">
			{% for question in global.evalQuestions %}

				{% if question.type == 'multiple' %}

					<div class="horizontal question">
						<h2>Question {{loop.index}}</h2>
						<p>{{question.data[0]}}</p>
						<br />
						<div>
						{% for i in 0..question.data[1] %}
							<input type="radio" name="{{question.id}}" value={{i}}{% if loop.index == 1 %} checked="checked"{% endif %}>
							<label>{{i}}</label>
						{% endfor %}
						</div>
					</div>

				{% elseif question.type == 'response' %}
					{% if question.errors is defined %}
						<div data-tip="{{(question.errors|first).message}}" class="row_error error question">
					{% else %}
						<div class="question">
					{% endif %}
						<h2>Question {{loop.index}}</h2>
						<p>{{question.data[0]}}</p>		
						<br />				
						<textarea name={{question.id}}></textarea>
					</div>

				{% endif %}
			{% endfor %}
				<div style="padding:0px;margin:0px;text-align:center;">
					<input type="submit" value="Submit">
				</div>
			</div>
		</form>
	</div>

	{{parent()}}
{% endblock %}