{% extends 'BioPublicBundle::main.html.twig' %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th>Trip</th>
				<th>Summary</th>
				<th>Start</th>
				<th>End</th>
				<th>Spots Taken</th>
				<th>View</th>
			</tr>
		</thead>
		<tbody>
			{% for trip in trips %}
				<tr>
					<td>{{ trip.title }}</td>
					<td>{{ trip.shortSum|striptags|replace({'&nbsp;': ''}) }}</td>
					<td>{{ trip.start|date('d-m-y H:i:s') }}</td>
					<td>{{ trip.end|date('d-m-y H:i:s') }}</td>
					<td>{{ trip.students|length }}/{{trip.max}}</td>
					<td><a href="{{ path('tour_guide_view_trip', {'id': trip.id }) }}">view</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}