{% extends 'BioPublicBundle::main.html.twig' %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td width="100px">Trip Name</td>
				<td>{{trip.title}}</td>
			</tr>
			<tr>
				<td>Start</td>
				<td>{{trip.start|date('m/d h:i a')}}</td>
			</tr>
			<tr>
				<td>End</td>
				<td>{{trip.end|date('m/d h:i a')}}</td>
			</tr>
			<tr>
				<td>Spots Left</td>
				<td>
					{% if date(trip.start) < date() %}
						<i>trip over</i>
					{% else %} 
						{{trip.max - trip.students|length}}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td colspan=2>
					{{trip.shortSum|raw}}
					{{trip.longSum|raw}}
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}