{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td width="100px">Trip Name</td>
				<td>{{trip.title}}</td>
			</tr>
			<tr>
				<td>Start</td>
				<td>{{trip.start|date('m/d H:i')}}</td>
			</tr>
			<tr>
				<td>End</td>
				<td>{{trip.end|date('m/d H:i')}}</td>
			</tr>
			<tr>
				<td>Leader Email</td>
				<td><a href="mailto:{{trip.email}}">{{trip.email}}</a></td>
			</tr>
			<tr>
				<td>Spots Left</td>
				<td>
					{% if date(trip.start) < date() %}
						<i>trip over</i>
					{% else %} 
						{{trip.max - trip.students|length}}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>
					<p>{{trip.shortSum}}</p>
					<p>{{trip.longSum}}</p>
				</td>
			</tr>
		</tbody>
	</table>
	
{% endblock %}