{% set tt %}
	{{render(controller('BioPublicBundle:Content:title'))}}
{% endset %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{{tt}}{% endblock %}</title>
		{% image 'bundles/biopublic/images/favicon.ico' output="images/*.ico" %}
			<link rel="shortcut icon" href="{{ asset_url }}" />
		{% endimage %}
		
		<!-- BASIC STYLE SHEETS -->
		{% stylesheets 'bundles/biopublic/css/page.css' 
					   'bundles/biopublic/css/form.css'
					   'bundles/biopublic/css/tool-tip.css'
					   'bundles/biopublic/css/ajax.css'
					   'bundles/biopublic/css/table.css' filter="cssrewrite" output="css/*.css" %}
			<link rel="stylesheet" href="{{ asset_url }}" />	
		{% endstylesheets %}

		<!-- OTHER RESOURCES -->
		{% block head %}

		{% endblock %}
	</head>

	<body>
		<div class="notification">
			Loading...
		</div>
		<div id="container">
			<div id="page">

				<div id="header">
					{% block header %}
						<a id="logo" class="image" href="http://www.biology.washington.edu"></a>
						<a id="w" class="image" href="http://www.washington.edu"></a>
						<a id="wLogo" class="image"></a>
						<div id="course">
							<a href="{{ path('main_page') }}">
								{{tt}}
							</a>
						</div>
					{% endblock %}
				</div>

				<div id="left">
					{% block left %}
						{{ render(controller('BioPublicBundle:Content:sidebar', {'error':true})) }}
					{% endblock %}	
				</div>

				<div id="center">
					{% if title is defined %}
						<h1>{{title}}</h1>
					{% endif %}

					<div id="content">
						{% block basecontent %}

						{% endblock %}
					</div>
				</div>

			</div>
			<div id="footer">

			</div>
		</div>
	</body>
	<script>
	(function() {
		window.addEventListener('load', function() {
			var a = document.querySelectorAll('input, textarea');
			if (a.length > 0) {
				a[0].select(); // select instead of focus so page isn't autoscrolled
			}
		})
	})();

	</script>
	{% block java %}

	{% endblock %}
</html>