{% extends 'BioPublicBundle::base.html.twig' %}

{% block header %}
	{{parent()}}

	<div id="sign">
		<div class="login">
			{% if is_granted('ROLE_USER') %}
				<a>{{app.user.username}}</a>
			 	<div class="menu">
			 		<ul>
			 			<a href="{{ path('change_password') }}"><li>change password</li></a>
			 			<a href="{{ path('logout') }}"><li>logout</li></a>
			 		</ul>
			 	</div>
			{% else %}
				<a href="{{ path('login') }}">Login</a>
			{% endif %}
		</div>
	</div>

{% endblock %}

{% block left %}
	{{ render(controller('BioPublicBundle:Content:sidebar', {'error':false})) }}
{% endblock %}

{% block basecontent %}
	{% block content %}

	{% endblock %}
{% endblock %}