{% extends 'BioExamBundle:Public:main.html.twig' %}

{% block content %}
	{{form_start(form)}}

		{% for answer in form.answers.children %}
			<div class="question tableStyle">
				<h1 style="float:left;margin-top:18px;">Question {{loop.index}}</h1>
				<h2 style="float:right;">{{answer.vars.data.question.points}} points</h2>
				<div class="q">
					{{answer.vars.data.question.question|raw}}
				</div>

				<div class="line"></div>

				<h2>Answer</h2>
				{% if answer.children['answer'].vars.errors|length > 0 %}
				<div data-tip="{{answer.children['answer'].vars.errors[0].message}}" class="a error row_error">
				{% else %}
				<div class="a">
				{% endif %}
					{{form_widget(answer.children['answer'])}}
				</div>
			</div>
		{% endfor %}

		<div id="submit">
			{{form_widget(form.save)}}
			<span style="padding:15px;"></span>
			{{form_widget(form.submit)}}
		</div>
	{{form_end(form)}}

	{% if taker is defined %}
		{% include 'BioExamBundle:Public:timer.html.twig' with {'duration':taker.exam.tDuration, 'end':date(taker.exam.tDate|date('Y-m-d') ~' '~ taker.exam.tEnd|date('H:i:s'))|date('U'), 'start':taker.getTimestamp('started')[0]['time']|date('U')} only %}
	{% endif %}
{% endblock %}
