{% extends 'BioExamBundle:Public:main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/bioexam/css/exam.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<form method="POST">
		{% for answer in taker.answers %}
			<div class="question tableStyle">
				<!-- QUESTION -->
				<h2 style="float:left;">Question {{loop.index}}</h2> <h2 style="float:right;">{{answer.question.points}} points</h2>
				<div class="q">
					{{ answer.question.question|raw }}
				</div>
				<div class="line"></div>

				<!-- ANSWER -->
				<h2>Answer</h2>
				{% if answer.errors is defined %}
				<div data-tip="{{(answer.errors|first).message}}" class="a error row_error">
				{% else %}
				<div class="a">
				{% endif %}
					

					{# cant have any extra spaces between textareas #}
					<textarea name="{{answer.id}}" required="required">{{ answer.answer }}</textarea>
				</div>

			</div>
		{% endfor %}
		<div id="submit" >
			<button type="submit" />Submit</button>
		</div>
	</form>
	{{parent()}}
	{% if taker is defined %}
		{% include 'BioExamBundle:Public:timer.html.twig' with {'duration':taker.exam.tDuration, 'end':taker.exam.tDate|date('Y:m:d:') ~ taker.exam.tEnd|date('H:i:s'), 'start':taker.timecard[2]|date('Y:m:d:H:i:s')} only %}
	{% endif %}
{% endblock %}
