{% extends 'BioExamBundle:Public:main.html.twig' %}

{% block content %}
	<form method="POST">
		{% for answer in taker.answers %}
			<div class="question tableStyle">
				<!-- QUESTION -->
				<h2 style="float:left;">Question {{loop.index}}</h2> <h2 style="float:right;">{{answer.question.points}} points</h2>
				<div class="q">
					{{ answer.question.question|raw }}
				</div>
				<div class="line"></div>

				<!-- ANSWER -->
				<h2>Answer</h2>
				{% if answer.errors is defined %}
				<div data-tip="{{(answer.errors|first).message}}" class="a error row_error">
				{% else %}
				<div class="a">
				{% endif %}
					

					{# cant have any extra spaces between textareas #}
					<textarea name="{{answer.id}}">{{ answer.answer }}</textarea>
				</div>

			</div>
		{% endfor %}
		<div id="submit" >
			<button type="submit" name="save">Save</button><button type="submit" name="submit" />Submit</button>
		</div>
	</form>
	{{parent()}}
	{% if taker is defined %}
		{% include 'BioExamBundle:Public:timer.html.twig' with {'duration':taker.exam.tDuration, 'end':date(taker.exam.tDate|date('Y-m-d') ~' '~ taker.exam.tEnd|date('H:i:s'))|date('U'), 'start':taker.timecard[2]|date('U')} only %}
	{% endif %}
{% endblock %}
