{% extends 'BioExamBundle:Public:main.html.twig' %}

{% block content %}
	<form method="POST">
		{% for answer in taker.answers %}
			<div class="question tableStyle">
				<h2 style="float:left;">Question {{loop.index}}</h2> <h2 style="float:right;">{{answer.question.points}} points</h2>
				<div class="q">
					{{ answer.question.question|raw }}
				</div>
				<div class="line"></div>
				<h2>Answer</h2>
				<div class="a review">
					<div class="score">
						<select required="required" name="{{answer.id}}">
							<option selected="selected" disabled="disabled">-</option>
							 {% for i in 0..answer.question.points %}
							 	<option val={{i}}>{{i}}</option>
							 {% endfor %}
						</select>
					</div>
					<textarea disabled="disabled" style="width:84%;">{{ answer.answer }}</textarea>
				</div>
				<div class="line"></div>
				<h2>Rubric</h2>
				<div class="a">
					{{answer.question.answer|raw}}
				</div>
			</div>
		{% endfor %}
		<div id="submit" >
			<button type="submit" />Submit</button>
		</div>
	</form>
	{{parent()}}
	{% include 'BioExamBundle:Public:timer.html.twig' with {'duration':taker.exam.gDuration, 'end':taker.exam.gDate|date('Y:m:d:') ~ taker.exam.gEnd|date('H:i:s'), 'start':start|date('Y:m:d:H:i:s')} only %}
{% endblock %}

{% block java %}
	
{% endblock %}
