{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biostudent/css/form.css' 'bundles/bioexam/css/exam.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<form method="POST">
		{% for question in exam.questions %}
			<div class="question tableStyle">
				<h2>Question {{loop.index}}</h2> <h4>{{question.points}} points</h4>
				<div class="q">
					{{ question.question|raw }}
				</div>
				<div class="line"></div>
				<div class="a review">
					<div class="score">
						<select required="required" name="{{question.id}}">
							<option selected="selected" disabled="disabled">-</option>
							 {% for i in 0..question.points %}
							 	<option val={{i}}>{{i}}</option>
							 {% endfor %}
						</select>
					</div>
					<textarea disabled=true>{% if question.id in answers|keys %}{{ answers[question.id] }}{% endif %}</textarea>
				</div>
				<div class="line"></div>
				<div class="a">
					{{question.answer|raw}}
				</div>
			</div>
		{% endfor %}
		<div id="submit" >
			<button type="submit" />Submit</button>
		</div>
	</form>
{% endblock %}

{% block java %}
	
{% endblock %}