{% extends 'BioExamBundle:Public:main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/bioexam/css/exam.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
		{% for question in exam.questions %}
			<div class="question tableStyle">
				<h2 style="float:left;">Question {{loop.index}}</h2> <h2 style="float:right;">{{question.points}} points</h2>
				<div class="q">
					{{ question.question|raw }}
				</div>
				<div class="line"></div>
				<h2>Answer</h2>
				<div class="a">
					<textarea disabled="disabled">{{taker.answers[question.id]}}</textarea>
				</div>
			</div>
		{% endfor %}
		<div id="submit">
			{{ form_start(form) }}
				{{form_widget(form.edit)}}
				{{form_widget(form.submit)}}
			{{ form_end(form) }}
		</div>
	{{parent()}}
	{% include 'BioExamBundle:Public:timer.html.twig' %}
{% endblock %}