{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
	{% stylesheets 'bundles/biostudent/css/form.css' 'bundles/bioexam/css/exam.css' filter="cssrewrite" output="css/*.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
		{% for question in exam.questions %}
			<div class="question tableStyle">
				<h2>Question {{loop.index}}</h2> <h4>{{question.points}} points</h4>
				<div class="q">
					{{ question.question|raw }}
				</div>
				<div class="line"></div>
				<div class="a">
					<p>
					{{answers[question.id]}}
					</p>
				</div>
			</div>
		{% endfor %}
		<div id="submit">
			{{ form_start(form) }}
				{{form_widget(form.edit)}}
				{{form_widget(form.submit)}}
			{{ form_end(form) }}
		</div>

	<div id="timer">
		
	</div>
{% endblock %}

{% block java %}
	<script>
		function Timer(duration, start, end) {
			this.duration = duration;
			this.end = new Date(end);
			this.date = new Date(start);
			this.updateTime = function() {
					var now = new Date();
					var ttLate = (this.date.valueOf() - now.valueOf())/1000/60 + duration;
					var ttEnd = (this.end.valueOf() - now.valueOf())/1000/60;
					console.log(ttLate);
					console.log(this.end);

					var timeleft = Math.min(ttLate, ttEnd);

					if (timeleft >= 0) {
						minutes = Math.floor(timeleft);
					} else {
						minutes ="-" + Math.abs(Math.floor(timeleft) + 1);
					}
					seconds = Math.abs(Math.floor((timeleft%1)*60));
					document.getElementById('timer').innerHTML = minutes + ":" + (seconds%10===seconds?"0"+seconds:seconds);
				}
			this.interval = setInterval(
					(function(self) {
						return function() {
							self.updateTime();
						}
					})(this), 300);
			this.updateTime();
		}
		timer = new Timer({{exam.duration}} ,"{{started|date('Y-m-d H:i:s')}}", "{{exam.date|date('Y-m-d')}} {{exam.end|date('H:i:s')}}");
	</script>
{% endblock %}