{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block content %}
	{% block head %}
	{{ parent() }}
		{% stylesheets 'bundles/biostudent/css/form.css' filter="cssrewrite" output="css/*.css" %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
{% endblock %}
<p> Welcome student #{{app.session.get('sid')}}, once you begin this test you will have {{ app.session.get('duration') }} minutes to complete it. There will be more text here about what happens after the test, and what rules there are during the test, open notes, open book, etc... Maybe some more words about the the test... Press the start button to begin.</p>

{{ form(form) }}
{% endblock %}