{% extends 'BioPublicBundle::main.html.twig' %}

{% block content %}
	{{ form(form) }}

	<table>
		<tr>
			<th>Name</th>
			<th>When</th>
			<th>Start</th>
			<th>End</th>
			<th>Building</th>
			<th>Room</th>
			<th>Edit</th>
		</tr>
		{% for section in entities %}
			<tr>
				<td>{{section.name|upper}}</td>
				<td>{{section.days|join(', ')|title}}</td>
				<td>{{section.start|date('h:i a')}}</td>
				<td>{{section.end|date('H:i')}}</td>
				<td><a href="http://www.washington.edu/maps/?{{section.bldg|split("	")[0]}}">{{section.bldg}}</a></td>
				<td>{{section.room}}
				<td><a href="{{ path('edit', {'entityName' : 'section', 'id':section.id}) }}">edit</a></td>
			</tr>
		{% else %}
			<tr><td colspan=8 style="text-align:center">no sections</td></tr>
		{% endfor %}
	</table>
{% endblock %}