{% extends 'BioInfoBundle:Course:base.html.twig' %}

{% block content %}
	{{ form(form) }}

	<table>
		<tr>
			<th>First - Last</th>
			<th>Email</th>
			<th>Building</th>
			<th>Room</th>
			<th>Title</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for person in persons %}
			<tr>
				<td>{{ person.fullName }}</td>
				<td>{{person.email}}</td>
				<td><a href="http://www.washington.edu/maps/?{{person.bldg|split("	")[0]}}">{{person.bldg}}</a></td>
				<td>{{person.room}}</td>
				<td>{{person.title|title}}</td>
				<td><a href="{{ path('edit', {'entityName' : 'person', 'id' : person.id}) }}">edit</a></td>
				<td><a href="{{ path('delete', {'entityName' : 'person', 'id' : person.id}) }}">delete</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}