{% extends 'BioPublicBundle::main.html.twig' %}

{% block content %}
	{{ form(form) }}

	<table>
		<tr>
			<th>Person</th>
			<th>Days</th>
			<th>Start</th>
			<th>End</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for person in hourss %}
			<tr>
			{% if person.hours|length != 0 %}
				<td rowspan={{person.hours|length}}>{{person.fullName}}</td>
				{% if (person.hours|first).byAppointment %}
					<td colspan=3>By Appointment</td>
				{% else %}
					<td>{{(person.hours|first).days|title}}</td>
					<td>{{(person.hours|first).start|date('h:i a')}}</td>
					<td>{{(person.hours|first).end|date('h:i a')}}</td>
				{% endif %}
				<td><a href="{{ path('edit', {'entityName' : 'hours', 'id' : (person.hours|first).id }) }}">edit</a></td>
				<td><a href="{{ path('delete', {'entityName' : 'hours', 'id' : (person.hours|first).id}) }}">delete</a></td>
			</tr>
			{% for hour in person.hours %}
				{% if not loop.first %}
					<tr>
						{% if hour.byAppointment %}
							<td colspan=3>By Appointment</td>
						{% else %}
							<td>{{ hour.days|title }}</td>
							<td >{{ hour.start|date('h:i') }}</td>
							<td>{{ hour.end|date('h:i') }}</td>
						{% endif %}
						<td><a href="{{ path('edit', {'entityName' : 'hours', 'id' : hour.id }) }}">edit</a></td>
						<td><a href="{{ path('delete', {'entityName' : 'hours', 'id' : hour.id}) }}?id={{ hour.id }}">delete</a></td>
					</tr>
				{% endif %}
			{% endfor %}
			</tr>
			{% else %}
				<td rowspan=1>{{person.fullName}}</td>
				<td colspan=6 style="text-align:center;">no hours</td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
{% endblock %}