{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Exam</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ entity.section }}</td>
            </tr>
            <tr>
                <th>Tdate</th>
                <td>{{ entity.tDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tstart</th>
                <td>{{ entity.tStart }}</td>
            </tr>
            <tr>
                <th>Tend</th>
                <td>{{ entity.tEnd }}</td>
            </tr>
            <tr>
                <th>Tduration</th>
                <td>{{ entity.tDuration }}</td>
            </tr>
            <tr>
                <th>Gdate</th>
                <td>{{ entity.gDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Gstart</th>
                <td>{{ entity.gStart }}</td>
            </tr>
            <tr>
                <th>Gend</th>
                <td>{{ entity.gEnd }}</td>
            </tr>
            <tr>
                <th>Gduration</th>
                <td>{{ entity.gDuration }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('exam_exam') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('exam_exam_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
