{% extends 'BioStyleBundle:Default:main.html.twig' %}

{% block head %}
	{{ parent() }}
		{% stylesheets 'bundles/biostudent/css/form.css' filter="cssrewrite" output="css/*.css" %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
{% endblock %}

{% block content %}
	{% block form %}

	{% endblock %}
	<table>
		<tr>
		  <td><a href="{{ path('display_students') }}">Display</a></td>
		  <td><a href="{{ path('find_student') }}">Find</a></td>
		  <td><a href="{{ path('add_student') }}">Add</a></td>
		  <td><a href="{{ path('upload_student') }}">Upload</a></td>
		</tr>
	</table>
{% endblock %}