{% extends 'BioStudentBundle:Default:base.html.twig' %}

{% block form %}
	{% if app.request.query.get('filter') != "" %}
		{% set filter = '&filter=' ~ app.request.query.get('filter') %}
	{% else %}
		{% set filter = '' %}
	{% endif %}
	<table border="1px">
		<tr>
			<th><a href="?sort=sid{{filter}}">ID</a></th>
			<th><a href="?sort=fName{{filter}}">First</a> - <a href="?sort=lName{{filter}}">Last</a></th>
			<th><a href="?sort=section{{filter}}">Section</a></th>
			<th><a href="?sort=email{{filter}}">Email</a></th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	{% for entity in entities %}
		<tr>
			<td>{{ entity.sid }}</td>
			<td>{{ entity.fName }} {{ entity.lName }}</td>
			<td>{{ entity.section }}</td>
			<td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
			<td><a href="{{ path('edit_student') }}?sid={{entity.sid}}">edit</td>
			<td><a href="{{ path('delete_student') }}?sid={{entity.sid}}">delete</td>
		</tr>
	{% endfor %}

{% endblock %}