{% extends 'BioPublicBundle::main.html.twig' %}

{% block content %}
	{{form(form)}}
	{% if app.session.flashbag.has('find') or entities|length > 0%}
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Section</th>
				<th>Email</th>
				<th>Edit</th>
				<th>Reset</th>
				<th>Delete</th>
			</tr>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.sid }}</td>
					<td>{{ entity.fName }} {{ entity.lName }}</td>
					<td>{{ entity.section.name }}</td>
					<td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
					<td><a href="{{ path('edit_student', {'id': entity.id}) }}">edit</td>
					<td><a href="{{ path('reset_password', {'id':entity.id}) }}">reset</a></td>
					<td><a href="{{ path('delete_student', {'id': entity.id}) }}">delete</td>
				</tr>
			{% else %}
				<tr><td colspan=7 style="text-align:center">no students</td></tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}