{% extends 'BioPublicBundle:Content:instruction.html.twig' %}

{% block content %}
	<p>Welcome to the Student section. This section allows you to view, sort, edit, and <a href="{{ path('find_student') }}">filter</a> students in your course. By <a href="{{ path('upload_student') }}">uploading</a> a file from the registrars office or <a href="{{ path('add_student') }}">adding</a> students individually you can easily access their basic information easily and efficiently.</p>

	<div>
		{% image 'bundles/biostudent/images/find.png' output='images/*.png' %}
		    <img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ path('find_student') }}">Find</a></h2>
		<p> If you wish to find a certain student among the list, or perhaps view all students in a section. The find page will allow you to do so. From this page you can search by any combination of fields, and additionally edit, delete, and sort from the displayed list.</p>
	</div>

	<div>
		{% image 'bundles/biostudent/images/add.png' output='images/*.png' %}
		    <img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ path('add_student') }}">Add</a></h2>
		<p> The add page lets you add students to the list. Keep in mind that any changes here will not be reflected in the official list. </p>
	</div>

	<div>
		{% image 'bundles/biostudent/images/upload.png' output='images/*.png' %}
		    <img src="{{ asset_url }}"/>
		{% endimage %}
		<h2><a href="{{ path('upload_student') }}">Upload</a></h2>
		<p> From here you can upload <b>.csv</b> files from the registrars office. This will only work if the file is properly formatted. Keep in mind that uploading a list will completely overwrite any changes you have made.</p>
	</div>
{% endblock %}